<!--[顶部搜索栏和工具条]-->
<nav class="mx-auto container fixed-top p-2 glass shadow-sm">
    <div class="container text-center">
        <div class="row px-2">
            <div class="col-2 text-left px-0">
                <span class="text-azure" onclick="TL.direct.filelist(0);L.direct.room_list();">
                    <iconpark-icon name="rotate" class="fa-fw fa-2x"></iconpark-icon>
                </span>
            </div>
            <div class="col-8">
                <span id="direct_branded_logo">
                    <img src="/img/ico/logo-256x256.png" style="width:32px;border-radius: 8px;" />
                </span>
            </div>
            <div class="col-2 text-right px-0">
                <div class="dropdown btn_for_sub">
                    <span class="text-azure" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <iconpark-icon name="gear" class="fa-fw fa-2x"></iconpark-icon>
                    </span>
                    <div class="dropdown-menu shadow" aria-labelledby="dropdownMenuButton">
                        <button class="dropdown-item " onclick="TL.direct.openDomainEditor();">
                            <iconpark-icon name="signal-stream" class="fa-fw"></iconpark-icon>
                            <span i18n="direct_btn_bind_domain">.</span>
                        </button>
                        <button class="dropdown-item" onclick="$('#limitTrafficModal').modal('show');">
                            <iconpark-icon name="block-brick-fire" class="fa-fw"></iconpark-icon>
                            <span id="direct_set_traffic_limit_title"></span>
                        </button>
                        <button class="dropdown-item" onclick="$('#directSSLModal').modal('show');">
                            <iconpark-icon name="shield-halved" class="fa-fw"></iconpark-icon>
                            <span id="direct_bind_ssl"></span>
                        </button>
                        <button class="dropdown-item" onclick="$('#brandModal').modal('show');">
                            <iconpark-icon name="badge-check" class="fa-fw"></iconpark-icon>
                            <span i18n="brand_modal_title">.</span>
                        </button>
                        <button class="dropdown-item" onclick="TL.buy.openQuato();">
                            <iconpark-icon name="battery-bolt" class="fa-fw"></iconpark-icon>
                            <span i18n="direct_btn_buy_quota">.</span>
                        </button>
                        <button class="dropdown-item" onclick="TL.direct.getFreeQuotaOfSponsor();">
                            <iconpark-icon name="battery-bolt" class="fa-fw"></iconpark-icon>
                            <span i18n="direct_btn_free_quota">.</span>
                        </button>
                        <button class="dropdown-item" onclick="TL.direct.sortModal();" id="filelist_filter">
                            <iconpark-icon name="list" class="fa-fw"></iconpark-icon>
                            <span i18n="sort_title">.</span>
                        </button>
                        <hr>
                        <!-- 停用 -->
                        <button class="dropdown-item" onclick="TL.direct.disableService();">
                            <iconpark-icon name="circle-exclamation" class="fa-fw text-red"></iconpark-icon>
                            <span i18n="direct_stop_btn" class="text-red">.</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="mobile-head-large-title text-left w-100">
                <div class="mobile-list-titlename">
                    <div class="text-center">
                        <iconpark-icon name="globe" class="fa-fw text-green"
                            id="direct_bind_domain_icon"></iconpark-icon>
                        <span id="direct_bind_domain_box">
                            <a href="#" target="_blank" id="direct_bind_domain">#</a>
                        </span>
                    </div>
                    <div class="text-muted">
                        <div>
                            <span i18n="direct_quota">.</span>
                            <span id="direct_quota">0</span>
                        </div>
                        <div>
                            <span i18n="direct_quota_free">.</span>
                            <span class="direct_quota_free">0</span>
                        </div>
                        <!-- <span>
                            <span i18n="direct_total_transfer">.</span>
                            <span id="direct_total_transfer">0</span>
                        </span> -->
                    </div>
                </div>
            </div>
            <div>
                <div class="mt-1">
                    <span class="upload_queue" style="display: none;">
                        <iconpark-icon name="circle-arrow-up" class="fa-fw"></iconpark-icon>
                        <span class="upload_queue_counter"></span>
                        <span class="upload_speed"></span>
                    </span>
                </div>
            </div>
            <!--[搜索栏]-->
            <form autocomplete="off" class="w-100 mt-1 btn_for_sub">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary" type="button" onclick="TL.direct.filelist(0);"
                            i18n="search_btn">.</button>
                    </div>
                    <input type="search" id="workspace_search" class="form-control" placeholder="." i18n="search_plh"
                        onkeyup="if(event.keyCode==13)TL.direct.filelist(0);"
                        style="border-top-right-radius: 8px;border-bottom-right-radius: 8px;">
                </div>
                <input style="display:none;">
            </form>
            <!--[选择工具条]-->
            <div class="mobile-head-selector mx-auto" style="display: none;">
                <button onclick="TL.Selecter.setAll();" class="btn btn-light text-azure btn-sm mr-1 mt-1">
                    <iconpark-icon name="square-check" class="fa-fw"></iconpark-icon>
                    <span i18n="on_select_all">.</span>
                </button>
                <button onclick="TL.Selecter.setNone();" class="btn btn-light text-azure btn-sm mr-1 mt-1">
                    <iconpark-icon name="square-check" class="fa-fw"></iconpark-icon>
                    <span i18n="on_select_cancel">.</span>
                </button>
                <div class="dropdown dropdown-menu-left">
                    <button class="btn btn-light text-azure dropdown-toggle btn-sm mt-1" type="button"
                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <iconpark-icon name="list-check" class="fa-fw"></iconpark-icon> <span i18n="on_select">.</span>
                    </button>
                    <div class="dropdown-menu shadow" aria-labelledby="dropdownMenuButton">
                        <button class="dropdown-item" onclick="TL.Selecter.directCopy('downloadURLForText')">
                            <iconpark-icon name="download" class="fa-fw text-azure"></iconpark-icon>
                            <span i18n="on_select_copy_direct_url_text">.</span>
                        </button>
                        <button class="dropdown-item" onclick="TL.Selecter.directCopy('downloadURLForHTML')">
                            <iconpark-icon name="download" class="fa-fw text-azure"></iconpark-icon>
                            <span i18n="on_select_copy_direct_url_html">.</span>
                        </button>
                        <button class="dropdown-item" onclick="TL.Selecter.directCopy('resURLForText')">
                            <iconpark-icon name="link-horizontal" class="fa-fw text-azure"></iconpark-icon>
                            <span i18n="on_select_copy_res_url_text">.</span>
                        </button>
                        <button class="dropdown-item" onclick="TL.Selecter.directCopy('resURLForHTML')">
                            <iconpark-icon name="link-horizontal" class="fa-fw text-azure"></iconpark-icon>
                            <span i18n="on_select_copy_res_url_html">.</span>
                        </button>
                        <button class="dropdown-item" onclick="TL.Selecter.directCopy('streamURLForText')">
                            <iconpark-icon name="circle-play" class="fa-fw text-azure"></iconpark-icon>
                            <span i18n="on_select_copy_stream_url_text">.</span>
                        </button>
                        <button class="dropdown-item" onclick="TL.Selecter.directCopy('streamURLForHTML')">
                            <iconpark-icon name="circle-play" class="fa-fw text-azure"></iconpark-icon>
                            <span i18n="on_select_copy_stream_url_html">.</span>
                        </button>
                        <button class="dropdown-item" onclick="TL.Selecter.directDelete()">
                            <iconpark-icon name="trash" class="fa-fw text-red"></iconpark-icon>
                            <span i18n="on_select_delete">.</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="mobile-head-padding-large" style="padding-top: 180px;"></div>

<!-- <div class="text-center text-muted">
    <span i18n="direct_total_downloads">.</span>
    <span id="direct_total_downloads">0</span>
</div> -->

<div id="direct_domain_set" style="display: none;">
    <div class="p-5">
        <div id="direct_domain_set_title" class="display-3 text-center">
            欢迎
        </div>
        <div class="mx-auto" style="margin-top: 50px;margin-bottom: 50px;">
            <!-- 提示框 -->
            <div class="alert alert-warning" role="alert" style="display: none;" id="direct_modal_msg">
                <iconpark-icon name="circle-exclamation" class="fa-fw"></iconpark-icon>
                <span id="direct_modal_msg_text">.</span>
            </div>
            <form id="form-direct-domain">
                <div class="form-group">
                    <iconpark-icon name="memory-one" class="fa-fw"></iconpark-icon>
                    <label for="direct-domain" i18n="direct_modal_bind_domain_5">.</label>
                    <input type="text" class="form-control" id="direct-domain" placeholder="."
                        i18n="direct_modal_bind_domain_6" i18n-placeholder="true" onkeyup="TL.direct.checkInput()"
                        onchange="TL.direct.checkInput()">
                    <div>
                        <small id="domainHelpError" i18n="direct_ssl_check_input_notice1"
                            class="form-text text-muted text-red mt-1" style="display: none;">
                            .
                        </small>
                    </div>
                    <div>
                        <small id="domainHelp" class="form-text text-muted mt-1" style="display: none;">
                            <span i18n="direct_ssl_check_input_notice2">.</span>
                            <span class="req_new_acme_domain text-green">_acme-challenge.abc.com</span>
                            <span class="text-red">_acme-challenge.ng-ccc.com</span>
                        </small>
                    </div>
                    <div>
                        <small id="domainHelpCNAME" class="form-text text-muted mt-1" style="display: none;">
                            <span i18n="direct_ssl_check_input_notice2">.</span>
                            <span class="req_new_cname_domain text-green"></span>
                            <span class="text-red">cdn.5t-cdn.com</span>
                            <div onclick="$('#cloudflareModal').modal('show');" class="btn-pointer mt-2">
                                <iconpark-icon name="circle-exclamation" class="fa-fw"></iconpark-icon>
                                <span i18n="direct_cf_notice">如果您的域名由 Cloudflare 管理，请使用二级域名。</span>
                            </div>
                        </small>
                    </div>
                </div>
            </form>
            <!-- 启用安全传输 -->
            <div class="form-group" id="enable_ssl_box">
                <iconpark-icon name="shield-halved" class="fa-fw"></iconpark-icon>
                <label for="enable_ssl" i18n="direct_ssl_enable_title">.</label>
                <div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="enable_ssl1" name="enable_ssl" class="custom-control-input"
                            onchange="TL.direct.checkInput()" value="yes" checked>
                        <label class="custom-control-label" for="enable_ssl1" i18n="btn_enable">.</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="enable_ssl2" name="enable_ssl" class="custom-control-input"
                            onchange="TL.direct.checkInput()" value="no">
                        <label class="custom-control-label" for="enable_ssl2" i18n="btn_close">.</label>
                    </div>
                </div>

                <small id="sslHelp" i18n="direct_ssl_enable_intro" class="form-text text-muted">
                    .
                </small>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary btn-block" onclick="TL.direct.setDomain()"
                    i18n="btn_save_settings">.</button>
            </div>
        </div>
        <div class="no_direct_domains mx-auto" style="display: none;max-width: 620px;">
            <hr>
            <div>
                <p i18n="direct_intro_1">.</p>
                <ul>
                    <li class="text-red" i18n="direct_intro_free1">.</li>
                    <li i18n="direct_intro_2">.</li>
                    <li i18n="direct_intro_3">.</li>
                    <li i18n="direct_intro_4">.</li>
                    <li i18n="direct_intro_5">.</li>
                    <li i18n="direct_intro_6">.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="filelist" style="display: none;">

    <!-- 全局提醒区域 -->
    <div>
        <div class="alert alert-warning alert-dismissible fade show" role="alert" id="direct_notice_cname"
            style="display: none;">
            <span i18n="direct_notice_cname">.</span>
        </div>
        <div class="alert alert-warning alert-dismissible fade show" role="alert" id="direct_notice_usage"
            style="display: none;">
            <span i18n="direct_notice_usage">.</span>
        </div>
    </div>

    <div class="nav nav-pills d-flex justify-content-center mt-3" id="nav-tab" role="tablist">
        <a class="nav-link active" id="nav-direct-filelist" data-toggle="tab" href="#v-direct_filelist" role="tab"
            aria-controls="v-direct_filelist" aria-selected="true" i18n="file">.</a>
        <a class="nav-link" id="nav-direct-room" data-toggle="tab" href="#v-direct_room" role="tab"
            aria-controls="v-direct_room" aria-selected="false" i18n="folder">.</a>
        <a class="nav-link" id="nav-direct-api" data-toggle="tab" href="#v-direct_api" role="tab"
            aria-controls="v-direct_api" aria-selected="false" i18n="direct_api_key_nav">接口</a>
    </div>

    <div class="tab-content p-2">
        <div class="tab-pane show active" id="v-direct_filelist" role="tabpanel" aria-labelledby="nav-direct-filelist">
            <div id="filelist_model">
                <div id="direct_filelist"></div>

                <div class="no_photos" style="margin-top: 20px;margin-bottom: 100px;display: none;">
                    <div class="text-center mb-4">
                        <iconpark-icon name="camera" class="fa-fw fa-4x"></iconpark-icon>
                    </div>
                    <div class="text-center" i18n="page_no_photos">.</div>
                </div>
                <div class="no_files" style="margin-top: 100px;margin-bottom: 100px;display: none;">
                    <div class="text-center mb-4">
                        <iconpark-icon name="folder-open" class="fa-fw fa-4x"></iconpark-icon>
                        <div i18n="direct_intro_modal_body_1">.</div>
                    </div>
                </div>

                <script type="text/template" id="direct_filelist_list_tpl">
                    <% for (var x in obj) { %>
                        <div class="row mobile-list-bar file_unit_<% obj[x].direct_key %>">
                            <div class="col-2 mobile-list-icon-center text-center" name="items_box" tldata="<% obj[x].direct_key %>" tltitle="<% obj[x].fname %>" onclick="TL.Selecter.onclickByList(this);">
                                <iconpark-icon name="<% TL.fileicon(obj[x].ftype) %>" class="fa-fw text-azure fa-2x"></iconpark-icon>
                            </div>
                            <div class="col-7 p-0">
                                <div class="mobile-list-filename">
                                    <a href="<% obj[x].direct_link %>" class="filelist_link" target="_blank" onclick="event.stopPropagation();">
                                        <% obj[x].fname %>
                                    </a>
                                </div>
                                <div class="text-muted">
                                    <span>
                                        <% app.languageData.direct_total_downloads %> <% obj[x].downloads %> · <% obj[x].fsize_formated %> 
                                    </span>
                                    <% if(obj[x].like>0){ %>
                                        <span>
                                            <iconpark-icon name="like" class="fa-fw text-pink"></iconpark-icon>
                                            <span class="text-pink"><% obj[x].like %><span>
                                        </span>
                                    <% } %>
                                </div>
                                <div class="text-muted">
                                    <% if(obj[x].model!=99){ %>
                                        <!--[这里处理剩余时间]-->
                                        <span>
                                            <iconpark-icon name="timer" class="fa-fw"></iconpark-icon>
                                            <span class="lefttime-remainder ml-1" id="r_<% obj[x].ukey %>" data-tmplink-lefttime="<% obj[x].lefttime %>"></span>
                                        </span>
                                    <% } %>  
                                </div>
                            </div>
                            <div class="col-3 p-0 mobile-list-icon-center">
                                <button onclick="TL.bulkCopy(this,'<% Base64Encode(`${obj[x].direct_link}`) %>',true)" class="text-azure btn btn-sm btn-light mx-1"><iconpark-icon name="share-from-square" class="fa-fw"></iconpark-icon></button>
                                <button id="btn-rm-file_<% obj[x].direct_key %>" class="btn btn-sm btn-light mx-1" onclick="TL.direct.delLink('<% obj[x].direct_key %>')">
                                    <iconpark-icon name="trash" class="fa-fw text-danger"></iconpark-icon>
                                </button>
                            </div>
                        </div>
                    <% } %>
                </script>
            </div>
        </div>
        <div class="tab-pane" id="v-direct_room" role="tabpanel" aria-labelledby="nav-direct-room">
            <div class="no_direct_room mx-auto"
                style="margin-top: 100px;margin-bottom: 100px;display: none;max-width: 500px;">
                <div class="text-center mb-4">
                    <iconpark-icon name="folder-open" class="fa-fw fa-4x"></iconpark-icon>
                </div>
                <div class="text-center" i18n="page_no_direct_dir">.</div>
            </div>
            <div id="direct_room_list"></div>
            <script type="text/template" id="direct_room_list_tpl">
                <% for (var x in obj) { %>
                    <div class="row mobile-list-bar room_unit_<% obj[x].direct_key %>">
                        <div class="col-2 mobile-list-icon-center text-center" name="items_box" tldata="<% obj[x].direct_key %>" tltitle="<% obj[x].name %>" onclick="TL.Selecter.onclickByList(this);">
                            <iconpark-icon name="folder-open" class="fa-fw text-azure fa-2x"></iconpark-icon>
                        </div>
                        <div class="col-7 p-0">
                            <div class="mobile-list-filename">
                                <a href="/app&listview=room&mrid=<% obj[x].mrid %>" tmpui-action="dynamicView.room();"> <% obj[x].name %></a>
                            </div>
                            <div class="text-muted">
                                <% obj[x].ctime %>
                            </div>
                        </div>
                        <div class="col-3 p-0 mobile-list-icon-center">
                            <!-- 直达 -->
                            <a href="<% TL.direct.protocol %><% TL.direct.domain %>/share/<% obj[x].direct_key %>/" target="_blank" class="text-azure btn btn-sm btn-light mx-1">
                                <iconpark-icon name="circle-location-arrow" class="fa-fw"></iconpark-icon>
                            </a>
                            <!-- 删除 -->
                            <button id="btn-rm-file_<% obj[x].direct_key %>" class="btn btn-sm btn-light mx-1" onclick="TL.direct.delRoom('<% obj[x].direct_key %>')">
                                <iconpark-icon name="trash" class="fa-fw text-danger"></iconpark-icon>
                            </button>
                        </div>
                    </div>
                <% } %>
            </script>
        </div>
        <div class="tab-pane" id="v-direct_api" role="tabpanel" aria-labelledby="nav-direct-api">
            <div class="row mb-2 mt-2">
                <div class="col-12">
                    <div class="h3" i18n="direct_api_title_1">欢迎使用 API</div>
                    <div class="text-muted">
                        <div>
                            <span class="mr-2">API Key <span id="api_key"></span></span>
                        </div>
                        <div>
                            <!-- 复制按钮 -->
                            <button class="btn btn-sm btn-light text-azure" onclick="TL.direct.copyAPIKey();"
                                id="direct_api_key_copy_btn">
                                <span i18n="copy">复制</span>
                            </button>
                            <!-- 重置按钮 -->
                            <button class="btn btn-sm btn-light text-azure ml-2" onclick="TL.direct.resetAPIKey();"
                                id="direct_api_key_reset_btn">
                                <span i18n="generate">重新生成</span>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12 pb-2">
                    <div class="h4" i18n="direct_api_title_7">上传文件</div>
                    <div class="text-muted">POST https://tmp-cli.vx-cdn.com/app/upload_cli</div>
                    <div class="text-muted">Content-Type application/x-www-form-urlencoded</div>
                    <p class="mt-3" i18n="direct_api_upload_des">此接口即为 CLI 上传文件的接口，因此使用标准表单来提交需要上传的文件，可以使用 curl 或者
                        wget 等常用工具来完成上传。下面的代码是使用 curl 上传时的例子：</p>
                    <code>
                                                        curl -k -F "file=@/root/test.bin" -F "key=API key" -X POST "https://tmp-cli.vx-cdn.com/app/upload_cli"
                                                    </code>
                </div>
                <div class="col-12 pb-2">
                    <div class="h4" i18n="direct_api_params">参数</div>
                    <ul>
                        <li><code>key</code> API Key</li>
                        <li><code>mrid</code> <span i18n="direct_api_params_mrid">文件有效期</span></li>
                        <li>
                            <code>model</code> <span i18n="direct_api_params_model">文件有效期</span>
                            <ul>
                                <li>
                                    <code>99</code>
                                    <span i18n="modal_settings_upload_model99">永久</span>
                                </li>
                                <li>
                                    <code>0</code>
                                    <span i18n="modal_settings_upload_model1">这个文件在 24 后将被自动销毁</span>
                                </li>
                                <li>
                                    <code>1</code>
                                    <span i18n="modal_settings_upload_model2">有效期：3天</span>
                                </li>
                                <li>
                                    <code>2</code>
                                    <span i18n="modal_settings_upload_model3">有效期：7天</span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-12 pb-2">
                    <div class="h4" i18n="direct_api_return">返回值</div>
                    <p>
                        <strong>Status:</strong>
                    </p>
                    <ul>
                        <li i18n="direct_api_upload_status_1">1 : 上传完成，此时返回的 Data 数据为文件的 UKEY。</li>
                        <li i18n="direct_api_upload_status_0">0 : 上传失败，无效的请求。</li>
                        <li i18n="direct_api_upload_status_2">2 : 上传失败，文件大小超过限制。</li>
                        <li i18n="direct_api_upload_status_3">3 : 上传失败，服务器繁忙，无法处理此次请求。</li>
                        <li i18n="direct_api_upload_status_4">4 : 上传失败，私有空间不足，无法存储文件。</li>
                        <li i18n="direct_api_upload_status_5">5 : 上传失败，目前上传的文件总量已经超出了当日配额。存储至私有空间时不受限制。</li>
                        <li i18n="direct_api_upload_status_6">6 : 上传失败，API Key 已失效。</li>
                    </ul>
                    <p>
                        <strong>Data : String</strong>
                    </p>
                    <ul>
                        <li><span i18n="direct_api_data_upload">上传成功时，返回的数据为文件的 UKEY。上传失败时，返回数据是错误信息。</span></li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12 pb-2">
                    <div class="h4" i18n="direct_api_title_6">获取直链流量配额</div>
                    <div class="text-muted">POST https://tmp-api.vx-cdn.com/services/direct</div>
                    <div class="text-muted">Content-Type application/x-www-form-urlencoded</div>
                </div>

                <div class="col-12 pb-2">
                    <div class="h4" i18n="direct_api_params">参数</div>
                    <ul>
                        <li><code>action</code> quota</li>
                        <li><code>key</code> API Key</li>
                    </ul>
                </div>
                <div class="col-12 pb-2">
                    <div class="h4" i18n="direct_api_return">返回值</div>
                    <p>
                        <strong>Status:</strong>
                        <li i18n="direct_api_status_1">1 : 有数据</li>
                        <li i18n="direct_api_status_0">0 : 没有数据</li>
                    </p>
                    <p>
                        <strong>Data : Array</strong>
                        <li>quota : <span i18n="direct_api_data_quota">已购买的配额</span></li>
                        <li>quota_free : <span i18n="direct_api_data_quota_free">月度免费配额</span></li>
                    </p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12 pb-2">
                    <div class="h4" i18n="direct_api_title_2">获取仓库文件列表</div>
                    <div class="text-muted">POST https://tmp-api.vx-cdn.com/services/direct</div>
                    <div class="text-muted">Content-Type application/x-www-form-urlencoded</div>
                </div>
                <div class="col-12 pb-2">
                    <div class="h4" i18n="direct_api_params">参数</div>
                    <ul>
                        <li><code>action</code> list_of_workspace</li>
                        <li><code>key</code> API Key</li>
                        <li><code>page</code> <span i18n="direct_api_params_page">页码，每页显示 1000 条数据</span></li>
                    </ul>
                </div>
                <div class="col-12 pb-2">
                    <div class="h4" i18n="direct_api_return">返回值</div>
                    <p>
                        <strong>Status:</strong>
                        <li i18n="direct_api_status_1">1 : 有数据</li>
                        <li i18n="direct_api_status_0">0 : 没有数据</li>
                    </p>
                    <p>
                        <strong>Data : Array</strong>
                        <li>ukey : <span i18n="direct_api_data_ukey">文件 UKEY</span></li>
                        <li>name : <span i18n="direct_api_data_name">文件名</span></li>
                        <li>size : <span i18n="direct_api_data_size">文件大小</span></li>
                    </p>
                </div>

            </div>
            <hr>
            <div class="row">
                <div class="col-12 pb-2">
                    <div class="h4" i18n="direct_api_title_3">获取直链文件列表</div>
                    <div class="text-muted">POST https://tmp-api.vx-cdn.com/services/direct</div>
                    <div class="text-muted">Content-Type application/x-www-form-urlencoded</div>
                </div>

                <div class="col-12 pb-2">
                    <div class="h4" i18n="direct_api_params">参数</div>
                    <ul>
                        <li><code>action</code> list_of_direct</li>
                        <li><code>key</code> API Key</li>
                        <li><code>page</code> <span i18n="direct_api_params_page">页码，每页显示 1000 条数据</span></li>
                    </ul>
                </div>
                <div class="col-12 pb-2">
                    <div class="h4" i18n="direct_api_return">返回值</div>
                    <p>
                        <strong>Status:</strong>
                        <li i18n="direct_api_status_1">1 : 有数据</li>
                        <li i18n="direct_api_status_0">0 : 没有数据</li>
                    </p>
                    <p>
                        <strong>Data : Array</strong>
                        <li>dkey : <span i18n="direct_api_data_dkey">直链 DKEY</span></li>
                        <li>link : <span i18n="direct_api_data_link">下载链接</span></li>
                        <li>name : <span i18n="direct_api_data_name">文件名</span></li>
                        <li>size : <span i18n="direct_api_data_size">文件大小</span></li>
                        <li>etime : <span i18n="direct_api_data_etime">链接有效期</span></li>
                    </p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12 pb-2">
                    <div class="h4" i18n="direct_api_title_4">添加直链</div>
                    <div class="text-muted">POST https://tmp-api.vx-cdn.com/services/direct</div>
                    <div class="text-muted">Content-Type application/x-www-form-urlencoded</div>
                </div>

                <div class="col-12 pb-2">
                    <div class="h4" i18n="direct_api_params">参数</div>
                    <ul>
                        <li><code>action</code> link_add</li>
                        <li><code>key</code> API Key</li>
                        <li><code>ukey</code> <span i18n="direct_api_params_ukey">文件 UKEY</span></li>
                        <li><code>vaild_time</code> <span i18n="direct_api_params_vaild_time">（可选参数）链接有效期，单位为分钟，默认为 0
                                ，一直有效</span></li>
                    </ul>
                </div>
                <div class="col-12 pb-2">
                    <div class="h4" i18n="direct_api_return">返回值</div>
                    <p>
                        <strong>Status:</strong>
                        <li i18n="direct_api_status_1_b">1 : 完成</li>
                        <li i18n="direct_api_status_0_b">0 : 失败</li>
                        <li i18n="direct_api_status_1001">1001 : 失败，文件不存在</li>
                        <li i18n="direct_api_status_1002">1002 : 失败，内部错误</li>
                    </p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12 pb-2">
                    <div class="h4" i18n="direct_api_title_5">移除直链</div>
                    <div class="text-muted">POST https://tmp-api.vx-cdn.com/services/direct</div>
                    <div class="text-muted">Content-Type application/x-www-form-urlencoded</div>
                </div>

                <div class="col-12 pb-2">
                    <div class="h4" i18n="direct_api_params">参数</div>
                    <ul>
                        <li><code>action</code> link_del</li>
                        <li><code>key</code> API Key</li>
                        <li><code>dkey</code> <span i18n="direct_api_params_dkey">直链 DKEY</span></li>
                        <li><code>delete</code> <span i18n="direct_api_params_delete">是否同时删除文件，如果设定为
                                true，将删除对应的文件，其它设定为此文件的直链也会一同删除。默认为 false。</span></li>
                    </ul>
                </div>
                <div class="col-12 pb-2">
                    <div class="h4" i18n="direct_api_return">返回值</div>
                    <p>
                        <strong>Status:</strong>
                        <li i18n="direct_api_status_1_b">1 : 完成</li>
                        <li i18n="direct_api_status_0_b">0 : 失败</li>
                        <li i18n="direct_api_status_1003">1003 : 失败，没有找到对应的直链</li>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="directIntroModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content shadow-lg">
            <div class="modal-header">
                <h4 class="modal-title" i18n="direct_intro_modal_title">.</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p i18n="direct_intro_modal_body_1">
                    .
                </p>
                <p>
                <div i18n="direct_intro_modal_body_2">.</div>
                <div i18n="direct_intro_modal_body_3">.</div>
                </p>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="directEditDomainModal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content shadow-lg">
            <div class="modal-header">
                <h4 class="modal-title" i18n="direct_btn_bind_domain">
                    .
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!--[表单]-->
                <div class="card p-3 shadow-sm">
                    <!-- 提示框 -->
                    <div class="alert alert-warning" role="alert" style="display: none;" id="direct_modal_msg">
                        <iconpark-icon name="circle-exclamation" class="fa-fw"></iconpark-icon>
                        <span id="direct_modal_msg_text">.</span>
                    </div>
                    <form id="form-direct-domain">
                        <div class="form-group">
                            <iconpark-icon name="memory-one" class="fa-fw"></iconpark-icon>
                            <label for="direct-domain" i18n="direct_modal_bind_domain_5">.</label>
                            <input type="text" class="form-control" id="direct-domain" placeholder="."
                                i18n="direct_modal_bind_domain_6" i18n-placeholder="true"
                                onkeyup="TL.direct.checkInput()" onchange="TL.direct.checkInput()">
                            <div>
                                <small id="domainHelpError" i18n="direct_ssl_check_input_notice1"
                                    class="form-text text-muted text-red mt-1" style="display: none;">
                                    .
                                </small>
                            </div>
                            <div>
                                <small id="domainHelp" class="form-text text-muted mt-1" style="display: none;">
                                    <div i18n="direct_ssl_check_input_notice2">.</div>
                                    <div class="req_new_acme_domain text-green">_acme-challenge.abc.com</div>
                                    <div class="text-red">_acme-challenge.ng-ccc.com</div>
                                </small>
                            </div>
                            <div>
                                <small id="domainHelpCNAME" class="form-text text-muted mt-1" style="display: none;">
                                    <div i18n="direct_ssl_check_input_notice2">.</div>
                                    <span class="req_new_cname_domain text-green"></span>
                                    <span class="text-red">cdn.5t-cdn.com</span>
                                </small>
                            </div>
                        </div>
                    </form>
                    <!-- 启用安全传输 -->
                    <div class="form-group" id="enable_ssl_box">
                        <iconpark-icon name="shield-halved" class="fa-fw"></iconpark-icon>
                        <label for="enable_ssl" i18n="direct_ssl_enable_title">.</label>
                        <div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="enable_ssl1" name="enable_ssl" class="custom-control-input"
                                    onchange="TL.direct.checkInput()" value="yes" checked>
                                <label class="custom-control-label" for="enable_ssl1" i18n="btn_enable">.</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="enable_ssl2" name="enable_ssl" class="custom-control-input"
                                    onchange="TL.direct.checkInput()" value="no">
                                <label class="custom-control-label" for="enable_ssl2" i18n="btn_close">.</label>
                            </div>
                        </div>

                        <small id="sslHelp" i18n="direct_ssl_enable_intro" class="form-text text-muted">
                            .
                        </small>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary btn-block" onclick="TL.direct.setDomain()"
                            i18n="btn_save_settings">.</button>
                    </div>
                </div>
                <div id="tmplink_subdomain" class="card p-3 shadow-sm">
                    <h4 i18n="direct_modal_bind_domain_3">.</h4>
                    <p i18n="direct_modal_bind_domain_4">.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- brand pages -->
<div class="modal" id="brandModal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content shadow-lg">
            <div class="modal-header">
                <h4 class="modal-title">
                    <iconpark-icon name="badge-check" class="fa-fw"></iconpark-icon>
                    <span i18n="brand_modal_title">.</span>
                </h4>
            </div>
            <div class="modal-body">
                <!--[已保存的内容]-->
                <div class="card p-3 shadow-sm" id="brand_saved">
                    <div class="d-flex align-items-center">
                        <span class="mr-3" id="brand_saved_logo">
                            <iconpark-icon name="images" class="fa-fw fa-2x"></iconpark-icon>
                        </span>
                        <div>
                            <h4 class="m-0" i18n="brand_saved_title" id="brand_saved_title">
                                .
                            </h4>
                            <small class="text-muted" i18n="brand_saved_content" id="brand_saved_content">
                                .
                            </small>
                        </div>
                    </div>
                    <div id="brand_status" class="text-center"></div>
                </div>
                <hr>
                <!--[上传logo图，设定品牌名称和描述]-->
                <div class="form-group" id="brand_logo">
                    <label for="brand_logo">Logo<span id="brand_set_upload_status" class="ml-2"></span></label>
                    <div class="input-group">
                        <div class="custom-file">
                            <!--[只接受 jpg 与 png]-->
                            <input type="file" class="custom-file-input" id="brand_logo_file"
                                accept="image/png, image/jpeg" onchange="TL.direct.brandLogoSet(this)">
                            <label class="custom-file-label brand_logo_postmsg" for="brand_logo_file"
                                i18n="brand_logo_selector">.</label>
                        </div>
                    </div>
                </div>
                <div class="form-group" id="brand_name">
                    <label for="brand_name" i18n="brand_title">.</label>
                    <span class="ml-2 brand_setting_status"></span>
                    <input type="text" class="form-control" id="brand_name_input" i18n="brand_title_input"
                        placeholder=".">
                </div>
                <div class="form-group" id="brand_content">
                    <label for="brand_content" i18n="brand_content">.</label>
                    <span class="ml-2 brand_setting_status"></span>
                    <input type="text" class="form-control" id="brand_content_input" i18n="brand_content_input"
                        placeholder=".">
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-primary" id="brand_save" i18n="brand_save"
                        onclick="TL.direct.brandSet()">.</button>
                </div>
                <hr>
                <div i18n="brand_review_tos">.</div>
                <ul>
                    <li i18n="brand_review_tos_1">.</li>
                    <li i18n="brand_review_tos_2">.</li>
                    <li i18n="brand_review_tos_3">.</li>
                </ul>
                <p i18n="brand_review_notice">.</p>
                <div class="text-center">
                    <button type="button" class="btn btn-primary" id="brand_post" i18n="brand_submit"
                        onclick="TL.direct.brandReview();" i18n="brand_review_submit">.</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" i18n="model_btn_cancel">.</button>
            </div>
        </div>
    </div>
</div>

<!--[CNAME]-->
<div class="modal" id="cloudflareModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content shadow-lg">
            <div class="modal-header">
                <h4 class="modal-title" i18n="direct_cf_modal_title">CloudFlare</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p i18n="direct_cf_modal_body_1">
                    如果您使用 CloudFlare 管理您的域名，那么请使用二级域名作为直链域名。
                </p>
                <p i18n="direct_cf_modal_body_2">
                    比如，如果您的域名是 abc.com ，那么您应该使用 download.abc.com 来作为直链域名。
                </p>
            </div>
        </div>
    </div>
</div>