<!--[顶部搜索栏和工具条]-->
<nav class="mx-auto container fixed-top p-2 glass shadow-sm">
    <div class="container text-center">
        <div class="row px-2">
            <div class="col-3 px-0 text-left">
                <span class="text-azure" onclick="TL.workspace_filelist(0);">
                    <iconpark-icon name="rotate" class="fa-fw fa-2x"></iconpark-icon>
                </span>
            </div>
            <div class="col-6">
                <div class="mobile-head-top-title">
                    <div class="mobile_h3" i18n="navbar_workspace">.</div>
                </div>
            </div>
            <div class="col-3 px-0 text-right">
                <div class="dropdown">
                    <span class="text-azure" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <iconpark-icon name="gear" class="fa-fw fa-2x"></iconpark-icon>
                    </span>
                    <div class="dropdown-menu shadow" aria-labelledby="dropdownMenuButton">
                        <!-- 刷新按钮 -->
                        <button class="dropdown-item" onclick="TL.sort_show();" id="filelist_filter">
                            <iconpark-icon name="list" class="fa-fw"></iconpark-icon>
                            <span i18n="sort_title">.</span>
                        </button>
                        <button id="ws_btn_file_list" class="dropdown-item"
                            onclick="TL.workspace_filelist_model('list');">
                            <iconpark-icon name="list-radio" class="fa-fw"></iconpark-icon>
                            <span i18n="model_list">.</span>
                        </button>
                        <button id="ws_btn_file_photo" class="dropdown-item"
                            onclick="TL.workspace_filelist_model('photo');">
                            <iconpark-icon name="images" class="fa-fw"></iconpark-icon>
                            <span i18n="model_photo">.</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="mobile-head-large-title text-left">
                <div class="mobile_h2" i18n="navbar_workspace">.</div>
                <div class="lead" id="workspace_total"></div>
            </div>
            <div>
                <div class="mt-1">
                    <span class="upload_queue" style="display: none;">
                        <iconpark-icon name="circle-arrow-up" class="fa-fw"></iconpark-icon>
                        <span class="upload_queue_counter"></span>
                        <span class="upload_speed"></span>
                    </span>
                </div>
            </div>
            <!--[搜索栏]-->
            <form autocomplete="off" class="w-100 mt-1">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary" type="button" onclick="TL.workspace_filelist(0);"
                            i18n="search_btn">.</button>
                    </div>
                    <input type="search" id="workspace_search" class="form-control" placeholder="." i18n="search_plh"
                        onkeyup="if(event.keyCode==13)TL.workspace_filelist(0);"
                        style="border-top-right-radius: 8px;border-bottom-right-radius: 8px;">
                </div>
                <input style="display:none;">
            </form>
            <!--[选择工具条]-->
            <div class="mobile-head-selector mx-auto" style="display: none;">
                <button onclick="TL.Selecter.setAll();" class="btn btn-light text-azure btn-sm mr-1 mt-1">
                    <iconpark-icon name="check-square" class="fa-fw"></iconpark-icon>
                    <span i18n="on_select_all">.</span>
                </button>
                <button onclick="TL.Selecter.setNone();" class="btn btn-light text-azure btn-sm mr-1 mt-1">
                    <iconpark-icon name="x-square" class="fa-fw"></iconpark-icon>
                    <span i18n="on_select_cancel">.</span>
                </button>
                <div class="dropdown">
                    <button class="btn btn-light text-azure dropdown-toggle btn-sm mt-1" type="button"
                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <iconpark-icon name="list-check" class="fa-fw"></iconpark-icon> <span i18n="on_select">.</span>
                    </button>
                    <div class="dropdown-menu shadow" aria-labelledby="dropdownMenuButton">
                        <button class="dropdown-item" onclick="TL.Selecter.delete()">
                            <iconpark-icon name="trash" class="fa-fw"></iconpark-icon>
                            <span i18n="on_select_delete">.</span>
                        </button>
                        <button class="dropdown-item" onclick="TL.Selecter.share()">
                            <iconpark-icon name="share-from-square" class="fa-fw"></iconpark-icon>
                            <span i18n="on_select_share">.</span>
                        </button>
                        <button class="dropdown-item" onclick="TL.Selecter.directAddlinks()">
                            <iconpark-icon name="cloud-arrow-down" class="fa-fw"></iconpark-icon>
                            <span i18n="on_select_addto_direct">.</span>
                        </button>
                        <button class="dropdown-item" onclick="TL.Selecter.moveToModel('workspace')">
                            <iconpark-icon name="folder-plus" class="fa-fw"></iconpark-icon>
                            <span i18n="on_select_move">.</span>
                        </button>
                        <button class="dropdown-item" onclick="TL.Selecter.changeModelOpen()">
                            <iconpark-icon name="rectangle-vertical-history" class="fa-fw"></iconpark-icon>
                            <span i18n="on_select_change_model">.</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="mobile-head-padding-large"></div>
<button onclick="TL.uploader.open(0);" class="btn btn-lg btn-primary btn-block btn-upload mr-1 mt-1">
    <iconpark-icon name="cloud-arrow-up" class="fa-fw"></iconpark-icon>
    <span i18n="nav_upload">.</span>
</button>

<div id="filelist" class="mt-5" style="display: none;">
    <div id="filelist_model">

        <div id="workspace_filelist"></div>

        <div class="no_photos" style="margin-top: 100px;margin-bottom: 100px;display: none;">
            <div class="text-center mb-4">
                <iconpark-icon name="camera" class="fa-fw fa-4x"></iconpark-icon>
            </div>
            <div class="text-center" i18n="page_no_photos">.</div>
        </div>
        <div class="no_files" style="margin-top: 100px;margin-bottom: 100px;display: none;">
            <div class="text-center mb-4">
                <iconpark-icon name="folder-open" class="fa-fw fa-4x"></iconpark-icon>
            </div>
            <div class="text-center" i18n="page_no_files">.</div>
        </div>

        <script type="text/template" id="workspace_filelist_photo_tpl">
            <% for (var x in obj) { %>
                <% if(obj[x].ftype=='jpg'||obj[x].ftype=='jpeg'||obj[x].ftype=='png'||obj[x].ftype=='gif'){ %>
                    <div class="col-lg-4 col-xl-3 col-md-6 col-12 file_unit_<% obj[x].ukey %> p-1">
                        <div class="card text-center m-0" name="items_box" tlunit="file" tldata="<% obj[x].ukey %>" tltype="photo_card" tltitle="<% obj[x].fname %>" onclick="TL.Selecter.onclickByList(this,event);">
                            <div class="card-body">
                                <div style="height:220px;" class="mb-2">
                                    <% if(obj[x].sync=='1'){ %>
                                        <img src="/img/loading.png" style="height:220px;border-radius: 10px;" />
                                    <% }else{ %>
                                        <a href="javascript:;" onclick="TL.previewModel('<% obj[x].ukey %>','<% obj[x].fname_ex %>',<% x %>)">
                                            <img class='lazyload' src="/img/loading.svg" data-src="https://tmp-static.vx-cdn.com/img-<% obj[x].ukey %>-360x220.jpg" style="height:220px;border-radius: 10px;" />
                                        </a>  
                                    <% } %>
                                </div>
                                <div class="text-right file_ok_<% obj[x].ukey %>">
                                    <div>
                                        <button onclick="TL.download_direct('<% obj[x].ukey %>')" class="text-azure btn btn-sm btn-light mr-1 btn_download_<% obj[x].ukey %>"><iconpark-icon name="cloud-arrow-down" class="fa-fw"></iconpark-icon></button>
                                        <button onclick="TL.file_rename('<% obj[x].ukey %>','<% obj[x].fname_ex %>')" class="text-azure btn btn-sm btn-light mr-1"><iconpark-icon name="pen-to-square" class="fa-fw"></iconpark-icon></button>
                                        <button onclick="TL.bulkCopy(this,'<% Base64Encode(`https://${TL.site_domain}/f/${obj[x].ukey}`) %>',true)" class="text-azure  btn btn-sm btn-light mr-1"><iconpark-icon name="share-from-square" class="fa-fw"></iconpark-icon></button>
                                        <button id="btn-rm-file_<% obj[x].ukey %>" class="text-red btn btn-sm btn-light" onclick="TL.workspace_del('<% obj[x].ukey %>')"><iconpark-icon name="trash" class="fa-fw"></iconpark-icon></button>
                                        <!--[按钮组：设置为壁纸]-->
                                        <span class="dropdown">
                                            <button role="button" type="button" class="text-azure btn btn-sm btn-light mx-1" data-toggle="dropdown">
                                                <iconpark-icon name="images" class="fa-fw"></iconpark-icon>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right shadow">
                                                <button onclick="TL.pf_mybg_set('light','<% obj[x].ukey %>')" class="dropdown-item">
                                                    <iconpark-icon name="images" class="fa-fw"></iconpark-icon>
                                                    <span i18n="mybg_set_light"><% app.languageData.mybg_set_light %></span>
                                                </button>
                                                <button onclick="TL.pf_mybg_set('dark','<% obj[x].ukey %>')" class="dropdown-item">
                                                    <iconpark-icon name="images" class="fa-fw"></iconpark-icon>
                                                    <span i18n="mybg_set_dark"><% app.languageData.mybg_set_dark %></span>
                                                </button>
                                            </div>
                                        </span>
                                    </div>
                                    <div class="mt-1">
                                        <span class="mr-2"><% obj[x].fsize_formated %></span>
                                        <% if(obj[x].like>0){ %>
                                            <span class="badge badge-pill badge-primary">
                                                <iconpark-icon name="like" class="fa-fw text-pink"></iconpark-icon>
                                                <% obj[x].like %>
                                            </span>
                                        <% } %>
                                    </div>
                                </div>
                                <div class="progress file_relay_<% obj[x].ukey %>">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="83" aria-valuemin="0" aria-valuemax="100" style="width:100%;">
                                        <% app.languageData.upload_sync_onprogress %>
                                    </div>
                                </div>
                                <div class="progress mt-2 download_progress_bar_<% obj[x].ukey %>" style="height: 5px;display:none;">
                                    <div class="progress-bar bg-success download_progress_bar_set_<% obj[x].ukey %>" role="progressbar" style="width: 0%;" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            <% } %>
        </script>
        <script type="text/template" id="workspace_filelist_list_tpl">
            <% for (var x in obj) { %>
                <div class="row mobile-list-bar file_unit_<% obj[x].ukey %>">
                    <div class="col-2 mobile-list-icon-center d-flex align-items-center" name="items_box" tlunit="file" tldata="<% obj[x].ukey %>" tltitle="<% obj[x].fname %>" onclick="TL.Selecter.onclickByList(this,event);">
                        <iconpark-icon name="<% TL.fileicon(obj[x].ftype) %>" class="fa-fw fa-2x text-azure"></iconpark-icon>
                    </div>
                    <div class="col-8 p-0">
                        <div class="text-truncate">
                            <a href="/file?ukey=<% obj[x].ukey %>" tmpui-app="true" class="filelist_link mr-1" target="_blank" onclick="event.stopPropagation();">
                                <% obj[x].fname %>
                            </a>
                        </div>
                        <div class="text-muted">
                            <% if(obj[x].sync===1){ %>
                                <span class="fa-fw">
                                    <img src="/img/loading-outline.svg" style="width:22px"/>
                                </span>
                                <span i18n="file_btn_download"><% app.languageData.upload_sync_onprogress %></span>
                            <% }else{ %>
                                <% if(obj[x].model!=99){ %>
                                    <div class="text-muted">
                                        <iconpark-icon name="timer" class="fa-fw"></iconpark-icon>
                                        <span class="lefttime-remainder" id="wm_<% obj[x].ukey %>" data-tmplink-lefttime="<% obj[x].lefttime %>"></span>
                                    </div>
                                <% }else{ %>
                                    <span><% obj[x].cctime %></span>
                                <% } %>
                            <% } %>
                            <% if(obj[x].dir_name!=null){ %>
                                <div class="d-none d-lg-block" onclick="event.stopPropagation();">
                                    <iconpark-icon name="folder-open" class="fa-fw text-cyan"></iconpark-icon>
                                    <a href="/app&listview=room&mrid=<% obj[x].mrid %>" tmpui-action="dynamicView.room();"> <% obj[x].dir_name %></a>
                                </div>
                                <span class="d-inline d-lg-none" onclick="event.stopPropagation();">
                                    <iconpark-icon name="folder-open" class="fa-fw text-cyan"></iconpark-icon>
                                    <a href="/app&listview=room&mrid=<% obj[x].mrid %>" tmpui-action="dynamicView.room();"> <% obj[x].dir_name %></a>
                                </span>
                            <% } %>
                        </div>
                    </div>
                    <div class="col-2 mobile-list-icon-center">
                        <span class="dropdown">
                            <button role="button" type="button" class="text-azure btn btn-sm mx-1" data-toggle="dropdown">
                                <iconpark-icon name="ellipsis" class="fa-fw"></iconpark-icon>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right shadow">
                                <!-- 下载按钮 -->
                                <button onclick="event.stopPropagation();TL.bulkCopy(this,'<% Base64Encode(`https://${TL.site_domain}/f/${obj[x].ukey}`) %>',true)" class="dropdown-item">
                                    <iconpark-icon name="share-from-square" class="fa-fw"></iconpark-icon>
                                    <span i18n="file_btn_copy"><% app.languageData.file_btn_copy %></span>
                                </button>
                                <button onclick="TL.file_rename('<% obj[x].ukey %>','<% obj[x].fname_ex %>')" class="dropdown-item">
                                    <iconpark-icon name="pen-to-square" class="fa-fw"></iconpark-icon>
                                    <span i18n="menu_rename"><% app.languageData.menu_rename %></span>
                                </button>
                                <button id="btn-rm-file_<% obj[x].ukey %>" class="dropdown-item" onclick="TL.workspace_del('<% obj[x].ukey %>')">
                                    <iconpark-icon name="trash" class="fa-fw"></iconpark-icon>
                                    <span i18n="menu_delete"><% app.languageData.menu_delete %></span>
                                </button>
                                <!--[如果是图片，则可以被设置为背景]-->
                                <% if(obj[x].ftype=='png'||obj[x].ftype=='jpg'||obj[x].ftype=='jpeg'){ %>
                                    <button onclick="TL.pf_mybg_set('light','<% obj[x].ukey %>')" class="dropdown-item">
                                        <iconpark-icon name="images" class="fa-fw"></iconpark-icon>
                                        <span i18n="mybg_set_light"><% app.languageData.mybg_set_light %></span>
                                    </button>
                                    <button onclick="TL.pf_mybg_set('dark','<% obj[x].ukey %>')" class="dropdown-item">
                                        <iconpark-icon name="images" class="fa-fw"></iconpark-icon>
                                        <span i18n="mybg_set_dark"><% app.languageData.mybg_set_dark %></span>
                                    </button>
                                <% } %>
                                <% if(TL.direct.is_allow()){ %>
                                    <button onclick="TL.direct.addLink('<% obj[x].ukey %>','<% encodeURIComponent(obj[x].fname) %>')" class="dropdown-item">
                                        <iconpark-icon name="share-nodes" class="fa-fw"></iconpark-icon>
                                        <span i18n="menu_addlink"><% app.languageData.menu_addlink %></span>
                                    </button>
                                <% } %>  
                                <% if(TL.stream.allow(obj[x].fname,obj[x].owner)||TL.stream.checkForOpenOnApps(obj[x].fname,obj[x].owner)){ %>
                                    <hr>
                                <% } %> 
                                <% if(TL.stream.allow(obj[x].fname,obj[x].owner)){ %>
                                    <button onclick="TL.stream.request('<% obj[x].ukey %>','web')" class="dropdown-item">
                                        <iconpark-icon name="browser" class="fa-fw"></iconpark-icon>
                                        <span >Browser</span>
                                    </button>
                                <% } %> 
                                <% if(TL.stream.checkForOpenOnApps(obj[x].fname,obj[x].owner)){ %>
                                    <button onclick="TL.stream.request('<% obj[x].ukey %>','potplayer')" class="dropdown-item">
                                        <iconpark-icon name="send-backward" class="fa-fw"></iconpark-icon>
                                        <span >potplayer</span>
                                    </button>
                                    <button onclick="TL.stream.request('<% obj[x].ukey %>','iina')" class="dropdown-item">
                                        <iconpark-icon name="send-backward" class="fa-fw"></iconpark-icon>
                                        <span >IINA</span>
                                    </button>
                                    <button onclick="TL.stream.request('<% obj[x].ukey %>','nplayer')" class="dropdown-item">
                                        <iconpark-icon name="send-backward" class="fa-fw"></iconpark-icon>
                                        <span >nplayer</span>
                                    </button>
                                    <button onclick="TL.stream.request('<% obj[x].ukey %>','copy')" class="dropdown-item">
                                        <iconpark-icon name="send-backward" class="fa-fw"></iconpark-icon>
                                        <span>Stream URL</span>
                                    </button>
                                <% } %> 
                                <!-- 修改有效期 -->
                                <div class="dropdown-divider"></div>
                                <h4 class="dropdown-header" i18n="on_select_change_model"><% app.languageData.on_select_change_model %></h4>
                                <% if(obj[x].model!==99){ %>
                                    <button onclick="TL.file.changeModelSet(99);TL.file.changeModel('<% obj[x].ukey%>');" class="dropdown-item">
                                        <iconpark-icon name="infinity" class="fa-fw"></iconpark-icon>
                                        <span i18n="modal_settings_upload_model99"><% app.languageData.modal_settings_upload_model99 %></span>
                                    </button>
                                <% } %>
                                <% if(obj[x].model!==0){ %>
                                    <button onclick="TL.file.changeModelSet(0);TL.file.changeModel('<% obj[x].ukey%>');" class="dropdown-item">
                                        <iconpark-icon name="rectangle-vertical-history" class="fa-fw"></iconpark-icon>
                                        <span i18n="modal_settings_upload_model1"><% app.languageData.modal_settings_upload_model1 %></span>
                                    </button>
                                <% } %>
                                <% if(obj[x].model!==1){ %>
                                    <button onclick="TL.file.changeModelSet(1);TL.file.changeModel('<% obj[x].ukey%>');" class="dropdown-item">
                                        <iconpark-icon name="rectangle-vertical-history" class="fa-fw"></iconpark-icon>
                                        <span i18n="modal_settings_upload_model2"><% app.languageData.modal_settings_upload_model2 %></span>
                                    </button>
                                <% } %>
                                <% if(obj[x].model!==2){ %>
                                    <button onclick="TL.file.changeModelSet(2);TL.file.changeModel('<% obj[x].ukey%>');" class="dropdown-item">
                                        <iconpark-icon name="rectangle-vertical-history" class="fa-fw"></iconpark-icon>
                                        <span i18n="modal_settings_upload_model3"><% app.languageData.modal_settings_upload_model3 %></span>
                                    </button>
                                <% } %>
                            </div>
                        </span>
                    </div>
                    <div class="col-12 mt-2 download_progress_bar_<% obj[x].ukey %> mb-1" style="display:none">
                        <div class="progress" style="height: 5px;">
                            <div class="progress-bar bg-success download_progress_bar_set_<% obj[x].ukey %>" role="progressbar" style="width: 0%;" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            <% } %>
        </script>
    </div>
</div>