<!--[顶部搜索栏和工具条]-->
<nav class="mx-auto container fixed-top p-2 glass shadow-sm">
    <div class="container text-center">
        <div class="row px-2">
            <div class="col-3 px-0 text-left">
                <span class="text-azure" onclick="TL.notes.list();">
                    <iconpark-icon name="rotate" class="fa-fw fa-2x"></iconpark-icon>
                </span>
            </div>
            <div class="col-6">
                <div class="mobile-head-top-title">
                    <div class="mobile_h3">
                        <span i18n="title_notes">.</span>
                        <span class="text-muted" style="font-size: 20px;">beta</span>
                    </div>
                </div>
            </div>
            <div class="col-3 px-0 text-right">
            </div>
            <div class="mobile-head-large-title text-left">
                <div class="mobile_h2">
                    <span i18n="title_notes">.</span>
                    <span class="text-muted" style="font-size: 20px;">beta</span>
                </div>
                <!-- <div class="lead" id="workspace_total"></div> -->
            </div>
            <!--[搜索栏]-->
            <form autocomplete="off" class="w-100 mt-1">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary" type="button" 
                            i18n="search_btn" disabled>.</button>
                    </div>
                    <input type="search" id="workspace_search" class="form-control" placeholder="此功能尚未准备就绪"
                        style="border-top-right-radius: 8px;border-bottom-right-radius: 8px;">
                </div>
                <input style="display:none;">
            </form>
        </div>
    </div>
</nav>
<div class="mobile-head-padding-large"></div>
<button onclick="TL.notes.open(0);" class="notes_ready_btn btn btn-lg btn-primary btn-block mr-1 mt-1">
    <iconpark-icon name="pencil" class="fa-fw"></iconpark-icon>
    <span i18n="notes_create">.</span>
</button>

<div class="mt-5">
    <div id="notes_model">

        <div id="notes_list" class="mb-3">
            <div class="mx-auto" style="margin-top: 10px;margin-bottom: 100px; max-width: 600px;">
                <img src="/img/notes/how2.png" class="mb-4"/>
                <div class="alert alert-danger" role="alert" id="notes_keyfail_alert">
                    <iconpark-icon name="exclamation-triangle" class="fa-fw"></iconpark-icon>
                    <span i18n="notes_keyfail_alert">.</span>
                </div>
                <div class="alert alert-warning" role="alert" id="notes_keyinit_alert">
                    <iconpark-icon name="exclamation-triangle" class="fa-fw"></iconpark-icon>
                    <span i18n="notes_keyinit_alert">.</span>
                </div>
                <h4 i18n="notes_editor_key_title">.</h4>
                <input type="text" id="notes_editor_key_setting" class="form-control mb-2" i18n="notes_editor_key_setting" i18nOnly="placeholder"
                placeholder=".">
                <hr>
                <li i18n="notes_keyinit_des1">.</li>
                <li i18n="notes_keyinit_des2">.</li>
                <div class="mt-2 text-center">
                    <button type="button" class="btn btn-danger mx-1" id="notes_reset_all" i18n="model_btn_resetall" onclick="TL.notes.keyReInit()">.</button>
                    <button type="button" class="btn btn-primary mx-1" data-dismiss="modal" i18n="model_btn_ok" onclick="TL.notes.keySet()">.</button>
                </div>
            </div>
        </div>

        <div class="no_notes" style="margin-top: 100px;margin-bottom: 100px;display: none;">
            <div class="text-center mb-4">
                <iconpark-icon name="folder-open" class="fa-fw fa-4x"></iconpark-icon>
            </div>
            <div class="text-center" i18n="page_no_notes">.</div>
        </div>

        <script type="text/template" id="notes_list_tpl">
            <% for (var x in obj) { %>
                <div class="row mobile-list-bar p-3">
                    <div class="col-9 p-0">
                        <div>
                            <div class="mobile-list-filename">
                                <span class="filelist_link mr-1" target="_blank" onclick="TL.notes.open('<% obj[x].id %>');">
                                    <% obj[x].title_text %>
                                </span>
                            </div>
                        </div>
                        <div class="text-muted btn-pointer" onclick="TL.notes.open('<% obj[x].id %>')">
                            <% obj[x].content_text %>
                        </div>
                        <div class="mr-2">
                            <% obj[x].etime %>
                        </div>
                    </div>
                    <div class="col-3 p-0 mobile-list-icon-center">
                        <button class="btn btn-sm btn-light text-azure mr-1" onclick="TL.notes.open('<% obj[x].id %>')">
                            <iconpark-icon name="pencil" class="fa-fw"></iconpark-icon>
                        </button>
                        <button class="btn btn-sm btn-light text-danger" onclick="TL.notes.delete('<% obj[x].id %>')">
                            <iconpark-icon name="trash" class="fa-fw"></iconpark-icon>
                        </button>
                    </div>
                </div>
            <% } %>
        </script>
    </div>
</div>

<!-- 创建新笔记窗口 -->
<div class="modal" id="notesEditorModal">
    <div class="modal-dialog  modal-lg modal-dialog-centered">
        <div class="modal-content shadow-lg">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span i18n="model_title_notes">.</span>
                    <!-- 显示更新动画 -->
                    <span id="notes_editor_updating" class="mr-1" style="display: none;">
                        <iconpark-icon name="spinner " class="fa-fw fa-spin text-warning"></iconpark-icon>
                    </span>
                    <!-- 更新完成 -->
                    <span id="notes_editor_updated" style="display: none;">
                        <iconpark-icon name="circle-check" class="fa-fw text-green"></iconpark-icon>
                    </span>
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- 标题 -->
                <input type="text" id="notes_editor_title" class="form-control mb-2" i18n="notes_editor_title" i18nOnly="placeholder"
                placeholder="." onchange="TL.notes.autoPost();">
                <!-- 内容 -->
                <textarea id="trumbowyg" onchange="TL.notes.autoPost();"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" i18n="user_save" onclick="TL.notes.autoPost()">.</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" i18n="model_title_sr_only">.</button>
            </div>
        </div>
    </div>
</div>