<div id="file_messenger" class="align-self-center w-100" style="display: none;">
    <div class="card align-self-center mx-auto shadow" style="margin-top: 20px;padding:100px;max-width: 550px;">
        <div class="text-center mb-4" id="file_messenger_icon"></div>
        <div class="text-center display-4" id="file_messenger_msg"></div>
        <div class="row p-5" style="display: none;" id="file_messenger_msg_login">
            <div class="col-md-6 col-12 text-center">
                <button class="btn btn-lg btn-primary btn-block workspace-nologin" type="button"
                    onclick="app.open('/app&listview=login');" i18n="index_b3">
                    .
                </button>
            </div>
            <div class="col-md-6 col-12 text-center">
                <button class="btn btn-lg btn-danger btn-block workspace-nologin" type="button"
                    onclick="app.open('/app&listview=reg');" i18n="index_b2">
                    .
                </button>
            </div>
        </div>
    </div>
</div>


<div id="room_loaded" class="w-100" style="display: none;">

    <div id="download_queue" class="card mt-4 shadow" style="display: none;">
        <div id="filelist_model" class="card-body">
            <div id="download_queue_list"></div>
        </div>
    </div>

    <div class="mt-4 d-block d-sm-none">
        <!--[这里显示文件夹预设图片]-->
        <img src="" class="room_img" style="display: none;border-radius: 8px;width: 100%;">
    </div>

    <div id="dir_list_box" class="card mt-5 hideOnLoad shadow glass">

        <div class="card-body card-radius">
            <div id="title_of_root" class="pt-3">
                <div class="mx-auto text-center mt-3 mb-3">
                    <iconpark-icon name="folder-open-e1ad2j7l" class="fa-fw fa-2x"></iconpark-icon>
                    <span i18n="navbar_meetingroom" style="font-size: 25px;vertical-align: bottom;">.</span>
                </div>
            </div>
            <div class="clearfix mb-3 px-3">
                <div class="row">
                    <div class="col-8" id="dir_title">
                        <div>
                            <div id="title_of_sub">
                                <span class="room_title display-4"></span>
                                <div class="mt-2 room_subinfo">
                                    <iconpark-icon id="dir_status" name="folder-open-e1ad2j7l" class="fa-fw text-yellow" style="font-size: 24px;"></iconpark-icon>
                                    <span id="room_total"></span>
                                </div>
                            </div>
                            <div class="userinfo mt-2" style="display: none;">
                                <span class="fav-enabled" style="display: none;">
                                    <iconpark-icon name="like" class="fa-fw text-pink"></iconpark-icon>
                                    <span id="favorite_count" class="text-pink">0</span>
                                </span>
                                <span class="badge badge-pill badge-dark btn-point user-unlogin"
                                    onclick="app.open('/app&listview=login')" style="display: none;">
                                    <span i18n="need_login_of_dir">.</span>
                                </span>
                                <span>
                                    <span class="upload_queue" style="display: none;">
                                        <iconpark-icon name="circle-arrow-up" class="fa-fw"></iconpark-icon>
                                        <span class="upload_queue_counter"></span>
                                        <span class="upload_speed"></span>
                                    </span>
                                </span>
                            </div>
                            <div class="lead mt-2" id="room_direct_model">
                                <a href="#" id="room_link" target="_blank"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4" id="dir_img">
                        <div class="text-right">
                            <!--[这里显示文件夹预设图片]-->
                            <img src="" class="room_img" style="display: none;border-radius: 8px;max-height: 150px;">
                        </div>
                    </div>
                </div>
                
                
            </div>

            <div class="clearfix mt-3"></div>
            <div class="p-3">
                <form autocomplete="off" class="btn_for_sub">
                    <div class="input-group mb-1">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary" type="button" onclick="TL.dir.filelist(0);"
                                i18n="search_btn">.</button>
                        </div>
                        <input type="search" name="room_search" id="room_search" class="form-control" placeholder="."
                            i18n="search_plh" onkeyup="if(event.keyCode==13)TL.dir.filelist(0);"
                            style="border-top-right-radius: 8px;border-bottom-right-radius: 8px;">
                    </div>
                    <input style="display:none;">
                </form>

                <div class="mb-2"></div>

                <div class="btn_for_desktop">
                    <button class="btn btn-light text-azure btn-sm mr-1 mt-1 not_owner"
                        onclick="$('#mrCreaterModal').modal('show');$('#mr_id').val('0');$('#mr_parent_id').val('0');$('#mr_top_id').val('0');">
                        <iconpark-icon name="folder-plus" class="fa-fw"></iconpark-icon>
                        <span i18n="model_title_folder_title" class="d-none d-sm-inline">.</span>
                    </button>
                    <button class="btn btn-light btn-sm  text-azure mr-1 mt-1" onclick="TL.dir.open()">
                        <iconpark-icon name="rotate" class="fa-fw mr_filelist_refresh_icon"></iconpark-icon>
                    </button>
                </div>

                <div class="btn_for_sub">
                    <button class="btn btn-light btn-sm  text-azure mr-1 mt-1" onclick="TL.sort_show();"
                        id="filelist_filter">
                        <iconpark-icon name="list" class="fa-fw"></iconpark-icon>
                        <span i18n="sort_title" class="d-none d-sm-inline">.</span>
                    </button>
                    <button id="room_btn_file_list" class="btn btn-light btn-sm mr-1 mt-1 text-azure"
                        onclick="TL.dir.setModel('list');">
                        <iconpark-icon name="list-radio" class="fa-fw"></iconpark-icon>
                        <span i18n="model_list" class="d-none d-sm-inline">.</span>
                    </button>
                    <button id="room_btn_file_photo" class="btn btn-light btn-sm mr-1 mt-1 text-azure"
                        onclick="TL.dir.setModel('photo');">
                        <iconpark-icon name="images" class="fa-fw"></iconpark-icon>
                        <span i18n="model_photo" class="d-none d-sm-inline">.</span>
                    </button>
                    <button class="btn btn-light btn-sm mr-1 mt-1 text-azure room_btn_performance"
                        onclick="TL.dir.performanceOpen();">
                        <iconpark-icon name="gear" class="fa-fw"></iconpark-icon>
                        <span class="d-none d-sm-inline" i18n="btn_performance">.</span>
                    </button>
                    <button class="btn btn-light btn-sm mr-1 mt-1 btn_copy text-azure in-private-dir" id="mr_copy">
                        <iconpark-icon name="share-from-square" class="fa-fw"></iconpark-icon>
                        <span i18n="model_copy" class="d-none d-sm-inline">.</span>
                    </button>
                    <button id="room_btn_favorate" class="btn btn-light btn-sm mr-1 mt-1 text-azure"
                        style="display: none;">
                        <iconpark-icon name="folder-plus" class="fa-fw"></iconpark-icon>
                        <span class="d-none d-sm-inline" i18n="btn_favorite">.</span>
                    </button>
                    <button id="room_btn_report" class="btn btn-light text-azure btn-sm mr-1 mt-1"
                        onclick="$('#roomReportModal').modal('show')" style="display: none;">
                        <iconpark-icon name="circle-exclamation" class="fa-fw text-danger"></iconpark-icon>
                        <span class="d-none d-sm-inline" i18n="file_btn_report">.</span>
                    </button>
                    <button class="btn btn-light btn-sm  text-azure mr-1 mt-1" onclick="TL.dir.filelist(0)">
                        <iconpark-icon name="rotate" class="fa-fw mr_filelist_refresh_icon"></iconpark-icon>
                    </button>
                </div>

                <div class="btn_for_sub mt-2">
                    <span id="room_back_btn"></span>
                    <!-- 下载全部按钮 -->
                    <button class="btn btn-light text-azure btn-sm mr-1 mt-1" onclick="TL.Selecter.downloadAll();">
                        <iconpark-icon name="cloud-arrow-down" class="fa-fw"></iconpark-icon>
                        <span i18n="file_btn_downloadall">.</span>
                    </button>
                    <button onclick="TL.Selecter.setAll();" class="btn btn-light text-azure btn-sm mr-1  mt-1">
                        <iconpark-icon name="check-square" class="fa-fw"></iconpark-icon>
                        <span class="d-none d-sm-inline" i18n="on_select_all">.</span>
                    </button>
                    <button onclick="TL.Selecter.setNone();" class="btn btn-light text-azure btn-sm mr-1 mt-1 btn-gui-on-selected">
                        <iconpark-icon name="x-square" class="fa-fw"></iconpark-icon>
                        <span class="d-none d-sm-inline" i18n="on_select_cancel">.</span>
                    </button>
                    <div class="dropdown btn-gui-on-selected">
                        <button class="btn btn-light text-azure dropdown-toggle btn-sm mt-1" type="button"
                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <iconpark-icon name="list-check" class="fa-fw"></iconpark-icon> <span
                                i18n="on_select">.</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right shadow" aria-labelledby="dropdownMenuButton">
                            <button class="dropdown-item not_owner" onclick="TL.Selecter.delete()">
                                <iconpark-icon name="trash" class="fa-fw"></iconpark-icon>
                                <span i18n="on_select_delete">.</span>
                            </button>
                            <button class="dropdown-item" onclick="TL.Selecter.download()">
                                <iconpark-icon name="cloud-arrow-down" class="fa-fw"></iconpark-icon>
                                <span i18n="on_select_download">.</span>
                            </button>

                            <!-- <button class="dropdown-item btn_for_gen_link" onclick="TL.Selecter.downloadURL()">
                                <iconpark-icon name="cloud-arrow-down" class="fa-fw"></iconpark-icon>
                                <span i18n="on_select_copy_download_url">.</span>
                            </button> -->

                            <button class="dropdown-item in-private-dir" onclick="TL.Selecter.share()">
                                <iconpark-icon name="share-from-square" class="fa-fw"></iconpark-icon>
                                <span i18n="on_select_share">.</span>
                            </button>
                            <!-- <button class="dropdown-item" onclick="TL.Selecter.directAddlinks()">
                                <iconpark-icon name="cloud-arrow-down" class="fa-fw"></iconpark-icon>
                                <span i18n="on_select_addto_direct">.</span>
                            </button> -->
                            <button class="dropdown-item not_owner" onclick="TL.Selecter.moveToModel('room')">
                                <iconpark-icon name="folder-plus" class="fa-fw"></iconpark-icon>
                                <span i18n="on_select_move">.</span>
                            </button>
                            <button class="dropdown-item btn_for_copy_in_dir"
                                onclick="TL.Selecter.directCopy('staticDirLink')">
                                <iconpark-icon name="link-horizontal" class="fa-fw text-azure"></iconpark-icon>
                                <span i18n="menu_addlink">.</span>
                            </button>
                            <button class="dropdown-item" onclick="TL.Selecter.changeModelOpen()">
                                <iconpark-icon name="rectangle-vertical-history" class="fa-fw"></iconpark-icon>
                                <span i18n="on_select_change_model">.</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <script type="text/template" id="room_back_btn_tpl">
                    <% if(TL.dir.room.owner==1 || (TL.dir.room.allow_upload=='yes'&&TL.isLogin())){ %>
                        <button onclick="TL.uploader.open('<% TL.dir.room.mr_id %>');" tmpui-app="true" class="btn btn-sm btn-primary btn-upload mr-1 mt-1">
                            <iconpark-icon name="cloud-arrow-up" class="fa-fw"></iconpark-icon>
                            <span i18n="nav_upload" class="d-none d-sm-inline"><% app.languageData.nav_upload %></span>
                        </button>
                    <% } %>

                    <% if(TL.dir.room.top != 99){ %>
                        <a href="/app&listview=room&mrid=<% TL.dir.room.parent %>" tmpui-action="TL.dir.open()" class="btn btn-sm btn-light text-azure mr-1  mt-1">
                            <iconpark-icon name="arrow-turn-down-left" class="fa-fw"></iconpark-icon>
                            <span i18n="filelist_dir_parent" class="d-none d-sm-inline"><% app.languageData.filelist_dir_parent %></span>
                        </a>
                    <% } %>
                    <% if(TL.dir.room.owner==1){ %>
                        <button class="btn btn-light text-azure btn-sm mr-1  mt-1" onclick="$('#mrCreaterModal').modal('show');$('#mr_id').val('<% TL.dir.room.mr_id %>');$('#mr_parent_id').val('<% TL.dir.room.parent %>');$('#mr_top_id').val('<% TL.dir.room.top %>');">
                            <iconpark-icon name="folder-plus" class="fa-fw"></iconpark-icon>
                            <span i18n="model_title_folder_title" class="d-none d-sm-inline"><% app.languageData.model_title_folder_title %></span>
                        </button>
                    <% } %>
                </script>

            <!-- <div class="alert alert-info room_btn_performance" i18n="direct_intro">
                    .
                </div> -->

            <div id="dir_list"></div>

            <div class="no_photos" style="margin-top: 100px;margin-bottom: 100px;display: none;">
                <div class="text-center mb-4">
                    <iconpark-icon name="camera" class="fa-fw fa-4x"></iconpark-icon>
                </div>
                <div class="text-center" i18n="page_no_photos">.</div>
            </div>
            <div class="no_files" style="margin-top: 100px;margin-bottom: 100px;display: none;">
                <div class="text-center mb-4">
                    <iconpark-icon name="folder-open" class="fa-fw fa-4x"></iconpark-icon>
                </div>
                <div class="text-center" i18n="page_no_files">.</div>
            </div>
            <div class="no_dir" style="margin-top: 100px;margin-bottom: 100px;display: none;">
                <div class="text-center mb-4">
                    <iconpark-icon name="folder-open" class="fa-fw fa-4x"></iconpark-icon>
                </div>
                <div class="text-center" i18n="page_no_dir">.</div>
            </div>

            <div class="mt-3">
                <div class="text-right userinfo text-muted" style="display: none;font-size: 14px;">
                    <span i18n="filepage_publicby_0">.</span>
                    <span class="userinfo_sd" style="display: none;"></span>
                    <span class="userinfo_pro text-azure" style="display: none;">
                        <iconpark-icon name="badge-check" class="fa-fw"></iconpark-icon>
                    </span>
                    <span class="userinfo_nickname"></span>
                    <span i18n="filepage_publicby_2">.</span>
                </div>

                <div class="text-right btn-pointer " style="font-size: 14px;" id="downloadAlert" onclick="$('#downloadAlertModal').modal('show')">
                    <span><iconpark-icon name="triangle-exclamation-solid" style="font-size: 13px;color: #e9858e;"></iconpark-icon></span>
                    <span i18n="da_dir" class="text-muted">此文件由第三方发布，请注意验证来源后再下载。</span>
                </div>
            </div>
            

            <script type="text/template" id="dir_photolist_tpl">
                <div class="row" id="room_file_content">
                <% for (var x in obj) { %>
                    <% if(obj[x].ftype=='jpg'||obj[x].ftype=='jpeg'||obj[x].ftype=='png'||obj[x].ftype=='gif'){ %>
                        <div class="col-lg-4 col-xl-3 col-md-6 col-12 file_unit_<% obj[x].ukey %>">
                            <div class="card text-center img-hover" name="items_box" tldata="<% obj[x].ukey %>" tlunit="file" tltype="photo_card" tldid="<% obj[x].direct_id %>" tltitle="<% obj[x].fname %>" onclick="TL.Selecter.onclickByList(this,event);">
                                
                                <div class="card-body">
                                    <div style="height:220px;" class="mb-2">
                                        <% if(obj[x].sync=='1'){ %>
                                            <img src="/img/loading.png" style="height:220px;border-radius: 10px;" />
                                        <% } %>
                                        <% if(obj[x].nsfw==='yes'){ %>
                                            <img src="/img/nsfw.jpg" style="height:220px;border-radius: 10px;" />
                                        <% }else{ %>
                                            <a href="javascript:;" onclick="TL.previewModel('<% obj[x].ukey %>','<% obj[x].fname %>',<% x %>)">
                                                <img class='lazyload' src="/img/loading.svg" data-src="https://tmp-static.vx-cdn.com/img-<% obj[x].ukey %>-360x220.jpg" style="height:220px;border-radius: 10px;" />
                                            </a>
                                        <% } %>
                                    </div>
                                    <div class="text-right file_ok_<% obj[x].ukey %>">
                                        <div>
                                            <button href="javascript:void(0)" onclick="TL.download_direct('<% obj[x].ukey %>')" class="text-azure btn btn-sm btn-light mr-1 btn_download_<% obj[x].ukey %>">
                                                <iconpark-icon name="cloud-arrow-down" class="fa-fw"></iconpark-icon>
                                            </button>
                                            <% if(TL.dir.room.model=='public'){ %>
                                            <button onclick="TL.bulkCopy(this,'<% Base64Encode(`https://${TL.site_domain}/f/${obj[x].ukey}`) %>',true)" class="in-private-dir text-azure btn btn-sm btn-light mr-1">
                                                <iconpark-icon name="share-from-square" class="fa-fw"></iconpark-icon>
                                            </button>
                                            <% } %>
                                            <% if (TL.dir.room.owner == 1) { %>
                                                <button onclick="TL.file_rename('<% obj[x].ukey %>','<% obj[x].fname_ex %>')" class="text-azure btn btn-sm btn-light mr-1">
                                                    <iconpark-icon name="pen-to-square" class="fa-fw"></iconpark-icon>
                                                </button>
                                                <button class="text-red btn btn-sm btn-light" onclick="TL.dir.deleteFile('<% obj[x].ukey %>')" id="btn-mrdel-<% obj[x].ukey %>">
                                                    <iconpark-icon name="trash" class="fa-fw"></iconpark-icon>
                                                </button>
                                            <% } %>
                                            <!--[按钮组：设置为壁纸]-->
                                            <span class="dropdown">
                                                <button role="button" type="button" class="text-azure btn btn-sm btn-light mx-1" data-toggle="dropdown">
                                                    <iconpark-icon name="images" class="fa-fw"></iconpark-icon>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right shadow">
                                                <button onclick="TL.pf_mybg_set('light','<% obj[x].ukey %>')" class="dropdown-item">
                                                    <iconpark-icon name="images" class="fa-fw"></iconpark-icon>
                                                    <span i18n="mybg_set_light"><% app.languageData.mybg_set_light %></span>
                                                </button>
                                                <button onclick="TL.pf_mybg_set('dark','<% obj[x].ukey %>')" class="dropdown-item">
                                                    <iconpark-icon name="images" class="fa-fw"></iconpark-icon>
                                                    <span i18n="mybg_set_dark"><% app.languageData.mybg_set_dark %></span>
                                                </button>
                                            </div>
                                        </span>
                                        </div>
                                        <div class="mt-1">
                                            <span class="mr-1">
                                                <% obj[x].fsize_formated %>
                                            </span>
                                            <% if(obj[x].like>0){ %>
                                                <iconpark-icon name="like" class="fa-fw text-pink"></iconpark-icon>
                                                <span class="text-pink"><% obj[x].like %></span>
                                            <% } %>
                                        </div>
                                    </div>
                                    <div class="progress file_relay_<% obj[x].ukey %>">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="83" aria-valuemin="0" aria-valuemax="100" style="width:100%;">
                                            <% app.languageData.upload_sync_onprogress %>
                                        </div>
                                    </div>
                                    <div class="progress mt-2 download_progress_bar_<% obj[x].ukey %>" style="height: 5px;display:none;">
                                        <div class="progress-bar bg-success download_progress_bar_set_<% obj[x].ukey %>" role="progressbar" style="width: 0%;" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                <% } %>
                </div>
            </script>

            <script type="text/template" id="dir_filelist_tpl">
                <% for (var x in obj) { %>
                    <div class="row line mx-0 mb-1 py-1 list-bar file_unit_<% obj[x].ukey %>" name="items_box" tlunit="file" tltype="list" tldata="<% obj[x].ukey %>" tldid="<% obj[x].direct_id %>" tltitle="<% obj[x].fname %>" onclick="TL.Selecter.onclickByList(this,event);">
                        <div class="col-7 my-1 d-flex align-items-center listfontweight filename">
                            <div>
                                <iconpark-icon name="<% TL.fileicon(obj[x].ftype) %>" class="fa-fw text-azure"></iconpark-icon>
                                <a href="/file?ukey=<% obj[x].ukey %>" class="filelist_link mr-1" tmpui-app="true" target="_blank" onclick="event.stopPropagation();">
                                    <% obj[x].fname %>
                                </a>

                                <% if(TL.stream.allow(obj[x].fname,obj[x].owner)||TL.stream.checkForOpenOnApps(obj[x].fname,obj[x].owner)){ %>
                                    <span class="dropdown">
                                        <span role="button" type="button" class="btn-point" data-toggle="dropdown">
                                            <iconpark-icon name="circle-play" class="fa-fw text-blue"></iconpark-icon>
                                        </span>
                                        <div class="dropdown-menu shadow">
                                            <% if(TL.stream.allow(obj[x].fname,obj[x].owner)){ %>
                                                <button onclick="TL.stream.request('<% obj[x].ukey %>','web')" class="dropdown-item">
                                                    <iconpark-icon name="browser" class="fa-fw"></iconpark-icon>
                                                    <span >Browser</span>
                                                </button>
                                            <% } %> 
                                            <% if(TL.stream.checkForOpenOnApps(obj[x].fname,obj[x].owner)){ %>
                                                <button onclick="TL.stream.request('<% obj[x].ukey %>','potplayer')" class="dropdown-item">
                                                    <iconpark-icon name="send-backward" class="fa-fw"></iconpark-icon>
                                                    <span >potplayer</span>
                                                </button>
                                                <button onclick="TL.stream.request('<% obj[x].ukey %>','iina')" class="dropdown-item">
                                                    <iconpark-icon name="send-backward" class="fa-fw"></iconpark-icon>
                                                    <span >IINA</span>
                                                </button>
                                                <button onclick="TL.stream.request('<% obj[x].ukey %>','nplayer')" class="dropdown-item">
                                                    <iconpark-icon name="send-backward" class="fa-fw"></iconpark-icon>
                                                    <span >nplayer</span>
                                                </button>
                                                <button onclick="TL.stream.request('<% obj[x].ukey %>','copy')" class="dropdown-item">
                                                    <iconpark-icon name="send-backward" class="fa-fw"></iconpark-icon>
                                                    <span>Stream URL</span>
                                                </button>
                                            <% } %> 
                                        </div>
                                    </span>
                                <% } %> 

                                <% if(obj[x].like>0){ %>
                                    <iconpark-icon name="like" class="fa-fw text-pink"></iconpark-icon>
                                    <span class="text-pink"><% obj[x].like %></span>
                                <% } %>
                                <% if(obj[x].model!=99){ %>
                                    <!--[这里处理剩余时间]-->
                                    <span>
                                        <iconpark-icon name="timer" class="fa-fw"></iconpark-icon>
                                        <span class="lefttime-remainder" id="r_<% obj[x].ukey %>" data-tmplink-lefttime="<% obj[x].lefttime %>"></span>
                                    </span>
                                <% } %>  
                            </div>
                        </div>

                        <div class="col-5 my-1 d-flex align-items-center justify-content-end file_ok_<% obj[x].ukey %>">
                            <span alt="<% obj[x].ctime %>" class="mr-2 d-none d-lg-block"><% obj[x].cctime %></span>
                            <span class="mr-2">
                                <% obj[x].fsize_formated %>
                            </span>

                            <button href="javascript:void(0)" onclick="event.stopPropagation();TL.download_direct('<% obj[x].ukey %>')" class="text-azure btn btn-sm btn-light mr-1 btn_download_<% obj[x].ukey %>">
                                <iconpark-icon name="cloud-arrow-down" class="fa-fw"></iconpark-icon>
                            </button>
                            <% if(TL.dir.room.model=='public'){ %>
                                <% if(TL.dir.room.owner == 1&&TL.direct.dir_btn_status===true){ %>
                                    <button onclick="TL.direct.genLinkDirectForRoomV2('<% encodeURIComponent(obj[x].fname) %>')" class="text-azure btn btn-sm btn-light mr-1">
                                        <iconpark-icon name="link" class="fa-fw"></iconpark-icon>
                                    </button>
                                <% }else{ %>
                                    <button href="javascript:void(0)" onclick="event.stopPropagation();TL.bulkCopy(this,'<% Base64Encode(`https://${TL.site_domain}/f/${obj[x].ukey}`) %>',true )" class="in-private-dir text-azure btn btn-sm btn-light mr-1">
                                        <iconpark-icon name="share-from-square" class="fa-fw"></iconpark-icon>
                                    </button>
                                <% } %>
                            <% } %>

                            <% if (TL.dir.room.owner == 1) { %>
                                <span class="dropdown">
                                    <button role="button" type="button" class="text-azure btn btn-sm btn-light" data-toggle="dropdown">
                                        <iconpark-icon name="ellipsis" class="fa-fw"></iconpark-icon>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right shadow">
                                        <button onclick="TL.file_rename('<% obj[x].ukey %>','<% obj[x].fname_ex %>')" class="dropdown-item">
                                            <iconpark-icon name="pen-to-square" class="fa-fw"></iconpark-icon>
                                            <span i18n="menu_rename"><% app.languageData.menu_rename %></span>
                                        </button>
                                        <button class="dropdown-item" onclick="TL.dir.deleteFile('<% obj[x].ukey %>')" id="btn-mrdel-<% obj[x].ukey %>">
                                            <iconpark-icon name="trash" class="fa-fw"></iconpark-icon>
                                            <span i18n="menu_delete"><% app.languageData.menu_delete %></span>
                                        </button> 
                                        <!--[如果是图片，则可以被设置为背景]-->
                                        <% if(obj[x].ftype=='png'||obj[x].ftype=='jpg'||obj[x].ftype=='jpeg'){ %>
                                            <button onclick="TL.pf_mybg_set('light','<% obj[x].ukey %>')" class="dropdown-item">
                                                <iconpark-icon name="images" class="fa-fw"></iconpark-icon>
                                                <span i18n="mybg_set_light"><% app.languageData.mybg_set_light %></span>
                                            </button>
                                            <button onclick="TL.pf_mybg_set('dark','<% obj[x].ukey %>')" class="dropdown-item">
                                                <iconpark-icon name="images" class="fa-fw"></iconpark-icon>
                                                <span i18n="mybg_set_dark"><% app.languageData.mybg_set_dark %></span>
                                            </button>
                                        <% } %> 
                                        <!--[检查此目录是否是直链目录]-->
                                        <% if(TL.direct.is_allow()){ %>
                                            <% if(TL.direct.dir_btn_status===false){ %>
                                                <button onclick="TL.direct.addLink('<% obj[x].ukey %>','<% encodeURIComponent(obj[x].fname) %>')" class="dropdown-item">
                                                    <iconpark-icon name="share-nodes" class="fa-fw"></iconpark-icon>
                                                    <span i18n="menu_addlink"><% app.languageData.menu_addlink %></span>
                                                </button>
                                            <% } %>
                                        <% } %>   
                                        <!-- 修改有效期 -->
                                        <div class="dropdown-divider"></div>
                                        <h4 class="dropdown-header" i18n="on_select_change_model"><% app.languageData.on_select_change_model %></h4>
                                        <% if(obj[x].model!==99){ %>
                                            <button onclick="TL.file.changeModelSet(99);TL.file.changeModel('<% obj[x].ukey%>');" class="dropdown-item">
                                                <iconpark-icon name="infinity" class="fa-fw"></iconpark-icon>
                                                <span i18n="modal_settings_upload_model99"><% app.languageData.modal_settings_upload_model99 %></span>
                                            </button>
                                        <% } %>
                                        <% if(obj[x].model!==0){ %>
                                            <button onclick="TL.file.changeModelSet(0);TL.file.changeModel('<% obj[x].ukey%>');" class="dropdown-item">
                                                <iconpark-icon name="rectangle-vertical-history" class="fa-fw"></iconpark-icon>
                                                <span i18n="modal_settings_upload_model1"><% app.languageData.modal_settings_upload_model1 %></span>
                                            </button>
                                        <% } %>
                                        <% if(obj[x].model!==1){ %>
                                            <button onclick="TL.file.changeModelSet(1);TL.file.changeModel('<% obj[x].ukey%>');" class="dropdown-item">
                                                <iconpark-icon name="rectangle-vertical-history" class="fa-fw"></iconpark-icon>
                                                <span i18n="modal_settings_upload_model2"><% app.languageData.modal_settings_upload_model2 %></span>
                                            </button>
                                        <% } %>
                                        <% if(obj[x].model!==2){ %>
                                            <button onclick="TL.file.changeModelSet(2);TL.file.changeModel('<% obj[x].ukey%>');" class="dropdown-item">
                                                <iconpark-icon name="rectangle-vertical-history" class="fa-fw"></iconpark-icon>
                                                <span i18n="modal_settings_upload_model3"><% app.languageData.modal_settings_upload_model3 %></span>
                                            </button>
                                        <% } %>
                                    </div>
                                </span>
                            <% } %>
                        </div>

                        <div class="col-5 my-1 d-flex align-items-center justify-content-end file_relay_<% obj[x].ukey %>">
                            <span alt="<% obj[x].ctime %>" class="mr-2 d-none d-lg-block"><% obj[x].cctime %></span>
                            <span class="mr-2">
                                <% obj[x].fsize_formated %>
                            </span>

                            <button class="text-azure btn btn-sm btn-light mr-1 disabled">
                                <img class="fa-fw" src="/img/loading-outline.svg" style="width: 20px;"/>
                            </button>

                            <% if(TL.dir.room.model=='public'){ %>
                                <button href="javascript:void(0)" onclick="event.stopPropagation();TL.bulkCopy(this,'<% Base64Encode(`https://${TL.site_domain}/f/${obj[x].ukey}`) %>',true )" class="in-private-dir text-azure btn btn-sm btn-light mr-1">
                                    <iconpark-icon name="share-from-square" class="fa-fw"></iconpark-icon>
                                </button>
                            <% } %>

                            <% if (TL.dir.room.owner == 1) { %>
                                <span class="dropdown">
                                    <button role="button" type="button" class="text-azure btn btn-sm btn-light" data-toggle="dropdown">
                                        <iconpark-icon name="ellipsis" class="fa-fw"></iconpark-icon>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right shadow">
                                        <button onclick="TL.file_rename('<% obj[x].ukey %>','<% obj[x].fname_ex %>')" class="dropdown-item">
                                            <iconpark-icon name="pen-to-square" class="fa-fw"></iconpark-icon>
                                            <span i18n="menu_rename"><% app.languageData.menu_rename %></span>
                                        </button>
                                        <button class="dropdown-item" onclick="TL.dir.deleteFile('<% obj[x].ukey %>')" id="btn-mrdel-<% obj[x].ukey %>">
                                            <iconpark-icon name="trash" class="fa-fw"></iconpark-icon>
                                            <span i18n="menu_delete"><% app.languageData.menu_delete %></span>
                                        </button>  
                                    </div>
                                </span>
                            <% } %>
                        </div>


                        <div class="col-12 mt-2 download_progress_bar_<% obj[x].ukey %> mb-1" style="display:none">
                            <div class="progress" style="height: 5px;">
                                <div class="progress-bar bg-success download_progress_bar_set_<% obj[x].ukey %>" role="progressbar" style="width: 0%;" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                <% } %>
            </script>

            <script type="text/template" id="meetroom_grid_tpl">
                <% for (var x in obj) { %>
                <div class="col-6 col-md-3 col-lg-2 p-2 text-center" id="meetingroom_id_<% obj[x].mr_id %>">
                    <a href="/app&listview=room&mrid=<% obj[x].mr_id %>" tmpui-app="true">
                        <div class="fileicon mx-auto mb-2 shadow-lg">
                            <iconpark-icon name="folders" class="fa-fw mx-auto my-auto mb-2 fa-3x text-blue fileicon-sub text-cyan"></iconpark-icon>
                        </div>
                        <div class="max-width-90 mx-auto">
                            <div class="text-truncate" alt="<% obj[x].name %>"><% obj[x].name %></div>
                        </div>
                    </a>
                    
                    <div><% app.languageData.filelist_dir %></div>
                    <div>
                        <a href="javascript:void(0)" onclick="TL.bulkCopy(this,'<% Base64Encode(`https://${TL.site_domain}/room/${obj[x].mr_id}`) %>',true)" class="mt-1 in-private-dir">
                            <iconpark-icon name="share-from-square" class="fa-fw"></iconpark-icon>
                        </a>
                        <% if (obj[x].type === 'owner') { %>
                            <a href="javascript:void(0)" onclick="TL.dir.reName('<% obj[x].mr_id %>')" class="text-blue mt-1">
                                <iconpark-icon name="pen-to-square" class="fa-fw"></iconpark-icon>
                            </a>
                            <a href="javascript:void(0)" id="btn-rm-file_<% obj[x].mr_id %>" class="text-red mt-1" onclick="TL.dir.delete('<% obj[x].mr_id %>')"><iconpark-icon name="trash" class="fa-fw"></iconpark-icon></a>
                        <% } %>
                    </div>
                </div>
                <% } %>
            </script>

            <script type="text/template" id="dir_list_tpl">
                <% for (var x in obj) { %>
                    <div class="row line mx-0 mb-1 py-1 list-bar dir_<% obj[x].mr_id %>" id="meetingroom_id_<% obj[x].mr_id %>" name="items_box"
                        tlunit="dir" tldata="<% obj[x].mr_id %>" tldid="0" tltitle="<% obj[x].name %>" onclick="TL.Selecter.onclickByList(this,event);">
                        <div class="col-7 my-1 d-flex align-items-center listfontweight filename">
                            <iconpark-icon name="<% TL.dir.getIcons(obj[x]).icon %>" class="fa-fw <% TL.dir.getIcons(obj[x]).color %>"></iconpark-icon>
                            &nbsp
                            <a href="/app&listview=room&mrid=<% obj[x].mr_id %>" class="filelist_link" tmpui-action="TL.dir.open()">
                                <% obj[x].name %>
                            </a>
                        </div>
                        <div  class="col-5 my-1 d-flex align-items-center justify-content-end">
                            <span class="mr-2">
                                <% app.languageData.filelist_dir %>
                            </span>
                            <% if(TL.dir.room.model=='public'){ %>
                                <button onclick="TL.bulkCopy(this,'<% Base64Encode(`https://${TL.site_domain}/room/${obj[x].mr_id}`) %>',true)" class="in-public-dir text-azure btn btn-sm btn-light mr-1">
                                    <iconpark-icon name="share-from-square" class="fa-fw"></iconpark-icon>
                                </button>
                            <% }%>
                            <% if (obj[x].type === 'owner') { %>
                                <button  onclick="TL.dir.reName('<% obj[x].mr_id %>')" class="text-azure btn btn-sm btn-light mr-1"><iconpark-icon name="pen-to-square" class="fa-fw"></iconpark-icon></button>
                                <button  id="btn-rm-file_<% obj[x].mr_id %>" class="text-red btn btn-sm btn-light mx-1" onclick="TL.dir.delete('<% obj[x].mr_id %>')"><iconpark-icon name="trash" class="fa-fw"></iconpark-icon></button>
                            <% } %>
                            <% if (obj[x].fav == 1) { %>
                                <button  id="btn-rm-file_<% obj[x].mr_id %>" class="text-red btn btn-sm btn-light" onclick="TL.dir.favoriteDel('<% obj[x].mr_id %>')"><iconpark-icon name="trash" class="fa-fw"></iconpark-icon></button>
                            <% } %>
                        </div>
                    </div>
                <% } %>
            </script>
        </div>
    </div>
</div>

<div id="tpl_footer"></div>
<div id="tpl_model"></div>

<div class="modal" id="mrFileModal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content shadow-lg">
            <div class="modal-header">
                <h4 class="modal-title" i18n="model_title_room_mrfile">.</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row" id="mrfile_add_list"></div>
                <script type="text/template" id="mrfile_add_list_tpl">
                <% for (var x in obj) { %>
                    <div class="col-6 col-md-3 p-2 text-center" id="mraddlist-<% obj[x].ukey%>">
                        <div class="fileicon mx-auto mb-2 shadow-lg <% obj[x].model_color %>">
                            <iconpark-icon name="<% TL.fileicon(obj[x].ftype) %>" class="fa-fw fa-4x mx-auto mb-2"></iconpark-icon>
                        </div>
                        <div class="max-width-80 mx-auto">
                            <div class="text-truncate" alt="<% obj[x].fname %>" title="<% obj[x].fname %>"><% obj[x].fname %></div>
                        </div>
                        <div>
                            <a href="javascript:void(0)" id="btn-mraddlist-<% obj[x].ukey%>" class="text-azure mt-1 mr-1" onclick="TL.dir.fileAdd('<% obj[x].ukey%>')">
                                <iconpark-icon name="circle-plus" class="fa-fw"></iconpark-icon>
                            </a>
                        </div>
                    </div>
                </div>
                <% } %>
                </script>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" i18n="model_btn_cancel">.</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="mrUserModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content shadow-lg">
            <div class="modal-header">
                <h4 class="modal-title" i18n="model_title_room_mruser">.</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="notice_add_user" class="alert alert-info alert-dismissable" i18n="model_add_user_notice">
                    .
                </div>
                <div class="form-group">
                    <label for="modal_add_user" i18n="model_add_user">.</label>
                    <input type="email" class="form-control" id="modal_add_user" i18n="model_adduser_placeholder"
                        placeholder=".">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" i18n="model_btn_cancel">.</button>
                <button type="button" class="btn btn-primary" id="modal_add_user_btn" i18n="model_btn_ok"
                    onclick="TL.mr_user_add();">.</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="mrCreaterModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content shadow-lg">
            <div class="modal-header">
                <h4 class="modal-title" i18n="model_title_meetingroom_creat">.</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="notice_meetingroom_create" class="alert alert-info alert-dismissable"
                    i18n="model_meetingroom_create_notice">
                    .
                </div>
                <div class="form-group">
                    <label for="modal_meetingroom_create_name" i18n="model_meetingroom_create_name">.</label>
                    <input type="text" class="form-control" id="modal_meetingroom_create_name"
                        i18n="model_meetingroom_create_name_placeholder" placeholder=".">
                </div>

                <label for="modal_meetingroom_create_type" i18n="modal_meetingroom_create_type">.</label>
                <select class="form-control" id="modal_meetingroom_create_type">
                    <option value="0" i18n-only="html" i18n="modal_meetingroom_type1" selected>.</option>
                    <option value="1" i18n-only="html" i18n="modal_meetingroom_type2">.</option>
                </select>
                <input type="hidden" id="mr_parent_id" value="0" />
                <input type="hidden" id="mr_top_id" value="0" />
                <input type="hidden" id="mr_id" value="0" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" i18n="model_btn_cancel">.</button>
                <button type="button" class="btn btn-primary" id="modal_meetingroom_create_btn" i18n="model_btn_ok"
                    onclick="TL.dir.create();">.</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="performanceModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content shadow-lg">
            <div class="modal-header">
                <h4 class="modal-title" i18n="modal_performance_title">.</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5 i18n="modal_performance_display">.</h5>
                <div class="form-group">
                    <select class="form-control" id="pf_display">
                        <option value="list" i18n-only="html" i18n="modal_performance_display_0">.</option>
                        <option value="photo" i18n-only="html" i18n="modal_performance_display_1">.</option>
                    </select>
                </div>

                <h5 i18n="modal_performance_sort">.</h5>
                <div class="form-group">
                    <select class="form-control" id="pf_sort_by" onchange="TL.dir.performancePost()">
                        <option value="0" i18n-only="html" i18n="sort_by_id">.</option>
                        <option value="1" i18n-only="html" i18n="sort_by_name">.</option>
                        <option value="2" i18n-only="html" i18n="sort_by_size">.</option>
                        <option value="3" i18n-only="html" i18n="sort_by_type">.</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" id="pf_sort_type" onchange="TL.dir.performancePost()">
                        <option value="0" i18n-only="html" i18n="sort_desc">.</option>
                        <option value="1" i18n-only="html" i18n="sort_asc">.</option>
                    </select>
                </div>
                <hr>
                <div class="in-private-dir">
                    <h5 i18n="modal_performance_publish">允许被搜索</h5>
                    <label class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="pf_publish"
                            onclick="TL.dir.performancePost()">
                        <span class="form-check-label" i18n="modal_performance_publish_des">
                            启用后，其他用户可以通过搜索引擎找到此目录内的文件。
                        </span>
                    </label>
                </div>
                <h5 i18n="modal_performance_share">.</h5>
                <label class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="pf_allow_upload"
                        onclick="TL.dir.performancePost()">
                    <span class="form-check-label" i18n="modal_performance_share_des">
                        .
                    </span>
                </label>
                <div class="room_direct_model">
                    <hr>
                    <h5 i18n="modal_performance_direct">.</h5>
                    <div class="alert alert-warning" id="pf_allow_direct_notice">
                        <div>
                            <span i18n="modal_performance_direct_tip">.</span>
                        </div>
                        
                        <button class="btn btn-primary mt-2 my-sm-0 workspace-navbar"
                            onclick="app.open('/app&listview=direct');">
                            <iconpark-icon name="share-nodes" class="fa-fw"></iconpark-icon>
                            <span i18n="navbar_direct">.</span>
                        </button>
                    </div>
                    <label class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="pf_allow_direct"
                            onclick="TL.direct.dirToggle()">
                        <span class="form-check-label" i18n="modal_performance_direct_des">
                            .
                        </span>
                        <span class="form-check-label" i18n="modal_performance_direct_des2">
                            .
                        </span>
                    </label>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-light" data-dismiss="modal" i18n="model_btn_ok">.</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="roomReportModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content shadow-lg">
            <div class="modal-header">
                <h4 class="modal-title" i18n="model_title_report">.</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <select class="form-control" id="room_report_model">
                    <option value="." i18n="modal_report_reason1" selected>.</option>
                    <option value="." i18n="modal_report_reason2">.</option>
                    <option value="." i18n="modal_report_reason3">.</option>
                </select>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" i18n="modal_report_submit" id="room_reportbtn"
                    onclick="TL.dir.room_report();">.</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" i18n="model_btn_cancel">.</button>
            </div>
        </div>
    </div>
</div>