<div id="download_queue" class="card mt-4 shadow" style="display: none;">
    <div id="filelist_model" class="card-body">
        <div id="download_queue_list">
        </div>
    </div>
</div>
<div id="filelist" class="card mt-4 shadow" style="display: none;">
    <div class="card-header pt-3">
        <div class="mx-auto text-center mt-3">
            <i class="fa-4x fa-light fa-memo-pad"></i>
            <div class="lead mt-2" id="workspace_total"></div>
            <div class="mt-1">
                <span class="upload_queue" style="display: none;">
                    <i class="fa-fw fa-light fa-circle-arrow-up"></i>
                    <span class="upload_queue_counter"></span>
                    <span class="upload_speed"></span>
                </span>
            </div>
        </div>
    </div>
    <div id="filelist_model" class="card-body">

        <div class="card shadow-sm p-3">
            <!--[搜索栏]-->
            <form autocomplete="off">
                <div class="input-group mb-1">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary" type="button" onclick="TL.workspace_filelist(0);"
                            i18n="search_btn">.</button>
                    </div>
                    <input type="search" id="workspace_search" class="form-control" placeholder="." i18n="search_plh"
                        onkeyup="if(event.keyCode==13)TL.workspace_filelist(0);"
                        style="border-top-right-radius: 8px;border-bottom-right-radius: 8px;">
                </div>
                <input style="display:none;">
            </form>

            <!--[主要控制器]-->
            <div class="mb-1">
                <button class="btn btn-light btn-sm text-azure mr-1 mt-1" onclick="TL.workspace_filelist(0);">
                    <i class="fa-light fa-rotate fa-fw" id="filelist_refresh_icon"></i>
                </button>
                <button class="btn btn-light btn-sm  text-azure mr-1 mt-1" onclick="TL.sort_show();"
                    id="filelist_filter">
                    <i class="fa-fw fa-light fa-list"></i>
                    <span i18n="sort_title" class="d-none d-sm-inline">.</span>
                </button>
                <button id="ws_btn_file_list" class="btn btn-light text-azure btn-sm mr-1 mt-1"
                    onclick="TL.workspace_filelist_model('list');">
                    <i class="fa-fw fa-light fa-list-radio"></i>
                    <span i18n="model_list" class="d-none d-sm-inline">.</span>
                </button>
                </button>
                <button id="ws_btn_file_photo" class="btn btn-light  text-azure btn-sm mr-1 mt-1"
                    onclick="TL.workspace_filelist_model('photo');">
                    <i class="fa-fw fa-light fa-image"></i>
                    <span i18n="model_photo" class="d-none d-sm-inline">.</span>
                </button>
            </div>

            <!--[选择器]-->
            <div>
                <button onclick="TL.uploader.open(0);" class="btn btn-sm btn-primary mr-1 mt-1">
                    <i class="fa-light fa-cloud-arrow-up fa-fw"></i>
                    <span i18n="nav_upload" class="d-none d-sm-inline">.</span>
                </button>
                <button onclick="TL.Selecter.setAll();" class="btn btn-light text-azure btn-sm mr-1 mt-1">
                    <i class="fa-solid fa-square-check fa-fw"></i>
                    <span class="d-none d-sm-inline" i18n="on_select_all">.</span>
                </button>
                <button onclick="TL.Selecter.setNone();" class="btn btn-light text-azure btn-sm mr-1 mt-1">
                    <i class="fa-light fa-square-check fa-fw"></i>
                    <span class="d-none d-sm-inline" i18n="on_select_cancel">.</span>
                </button>
                <div class="dropdown">
                    <button class="btn btn-light text-azure dropdown-toggle btn-sm mt-1" type="button"
                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa-light fa-list-check fa-fw"></i> <span i18n="on_select">.</span>
                    </button>
                    <div class="dropdown-menu shadow" aria-labelledby="dropdownMenuButton">
                        <button class="dropdown-item" onclick="TL.Selecter.delete()">
                            <i class="fa-fw fa-light fa-trash"></i>
                            <span i18n="on_select_delete">.</span>
                        </button>
                        <button class="dropdown-item" onclick="TL.Selecter.download()">
                            <i class="fa-fw fa-light fa-cloud-arrow-down"></i>
                            <span i18n="on_select_download">.</span>
                        </button>
                        <button class="dropdown-item" onclick="TL.Selecter.share()">
                            <i class="fa-fw fa-light fa-share-from-square"></i>
                            <span i18n="on_select_share">.</span>
                        </button>
                        <button class="dropdown-item" onclick="TL.Selecter.directAddlinks()">
                            <i class="fa-fw fa-light fa-cloud-arrow-down"></i>
                            <span i18n="on_select_addto_direct">.</span>
                        </button>
                        <button class="dropdown-item" onclick="TL.Selecter.moveToModel('workspace')">
                            <i class="fa-fw fa-light fa-folder-plus"></i>
                            <span i18n="on_select_move">.</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div id="workspace_filelist"></div>

        <div class="no_photos" style="margin-top: 100px;margin-bottom: 100px;display: none;">
            <div class="text-center mb-4">
                <i class="fa-fw fa-4x fa-light fa-camera"></i>
            </div>
            <div class="text-center" i18n="page_no_photos">.</div>
        </div>
        <div class="no_files" style="margin-top: 100px;margin-bottom: 100px;display: none;">
            <div class="text-center mb-4">
                <i class="fa-fw fa-light fa-folder-open fa-4x"></i>
            </div>
            <div class="text-center" i18n="page_no_files">.</div>
        </div>

        <script type="text/template" id="workspace_filelist_photo_tpl">
                <% for (var x in obj) { %>
                    <% if(obj[x].ftype=='jpg'||obj[x].ftype=='jpeg'||obj[x].ftype=='png'||obj[x].ftype=='gif'){ %>
                        <div class="col-lg-4 col-xl-3 col-md-6 col-12 file_unit_<% obj[x].ukey %> p-1">
                            <div class="card text-center m-0" name="items_box" tldata="<% obj[x].ukey %>" tltype="photo_card" tltitle="<% obj[x].fname %>" onclick="TL.Selecter.onclickByList(this);">
                                <div class="card-body">
                                    <div style="height:220px;" class="mb-2" onclick="event.stopPropagation();">
                                        <% if(obj[x].sync=='1'){ %>
                                            <img src="/img/loading.png" style="height:220px;" />
                                        <% }else{ %>
                                            <a href="javascript:;" onclick="TL.previewModel('<% obj[x].ukey %>','<% obj[x].fname_ex %>',<% x %>)">
                                                <img class='lazyload' src="/img/loading.svg" data-src="https://tmp-static.vx-cdn.com/img-<% obj[x].ukey %>-360x220.jpg" style="height:220px;border-radius: 10px;" />
                                            </a>  
                                        <% } %>
                                    </div>
                                    <div class="text-right file_ok_<% obj[x].ukey %>" onclick="event.stopPropagation();">
                                        <div>
                                            <button onclick="TL.download_file_btn('<% obj[x].ukey %>')" class="text-azure btn btn-sm btn-light mr-1 btn_download_<% obj[x].ukey %>"><i class="fa-fw fa-light fa-cloud-arrow-down"></i></button>
                                            <button onclick="TL.file_rename('<% obj[x].ukey %>','<% obj[x].fname_ex %>')" class="text-azure btn btn-sm btn-light mr-1"><i class="fa-fw fa-light fa-pen-to-square"></i></button>
                                            <button onclick="TL.bulkCopy(this,'<% Base64Encode(`https://${TL.site_domain}/f/${obj[x].ukey}`) %>',true)" class="text-azure  btn btn-sm btn-light mr-1"><i class="fa-fw fa-light fa-share-from-square"></i></button>
                                            <button id="btn-rm-file_<% obj[x].ukey %>" class="text-red btn btn-sm btn-light" onclick="TL.workspace_del('<% obj[x].ukey %>')"><i class="fa-fw fa-light fa-trash"></i></button>
                                        </div>
                                        <div class="mt-1">
                                            <span class="mr-2"><% obj[x].fsize_formated %></span>
                                            <% if(obj[x].like>0){ %>
                                                <span class="badge badge-pill badge-primary">
                                                    <i class="fa-fw fa-solid fa-circle-star text-yellow"></i>
                                                    <% obj[x].like %>
                                                </span>
                                            <% } %>
                                        </div>
                                    </div>
                                    <div class="progress file_relay_<% obj[x].ukey %>">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="83" aria-valuemin="0" aria-valuemax="100" style="width:100%;">
                                            <% app.languageData.upload_sync_onprogress %>:<% obj[x].fsize_formated %>
                                        </div>
                                    </div>
                                    <div class="progress mt-2 download_progress_bar_<% obj[x].ukey %>" style="height: 5px;display:none;">
                                        <div class="progress-bar bg-success download_progress_bar_set_<% obj[x].ukey %>" role="progressbar" style="width: 0%;" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                <% } %>
            </script>
        <script type="text/template" id="workspace_filelist_list_tpl">
                <% for (var x in obj) { %>
                    <div class="row mx-0 mb-1 p-1 line list-bar file_unit_<% obj[x].ukey %>" name="items_box" tldata="<% obj[x].ukey %>" tltitle="<% obj[x].fname %>" onclick="TL.Selecter.onclickByList(this);">
                        <div class="col-12 col-md-8 col-lg-7 d-flex align-items-center listfontweight filename">
                            <div class="row">
                                <div class="col-12 filename">
                                    <i class="<% TL.fileicon(obj[x].ftype) %> fa-fw text-azure"></i>
                                    <a href="/file?ukey=<% obj[x].ukey %>" tmpui-app="true" class="filelist_link mr-1" target="_blank" onclick="event.stopPropagation();">
                                        <% obj[x].fname %>
                                    </a>

                                    <% if(TL.stream.allow(obj[x].fname,obj[x].owner)){ %>
                                        <span class="btn-point" onclick="TL.stream.request('<% obj[x].ukey %>')" onclick="event.stopPropagation();">
                                            <i class="text-blue fa-fw fa-light fa-play-circle"></i>
                                        </span>
                                    <% } %>  
                                    
                                    <% if(obj[x].model!=99){ %>
                                        <!--[在大屏幕上显示]-->
                                        <span class="d-none d-lg-inline">
                                            <i class="fa-fw fa-light fa-stopwatch"></i> 
                                            <span class="lefttime-remainder" id="wd_<% obj[x].ukey %>" data-tmplink-lefttime="<% obj[x].lefttime %>"></span>
                                        </span>
                                    <% } %>
                                    <% if(obj[x].like>0){ %>
                                        <span class="badge badge-pill badge-primary">
                                            <i class="fa-fw fa-solid fa-circle-star text-yellow"></i>
                                            <% obj[x].like %>
                                        </span>
                                    <% } %>
                                    <% if(obj[x].dir_name!=null){ %>
                                        <div class="d-none d-lg-block" onclick="event.stopPropagation();">
                                            <i class="fa-light fa-folder-open fa-fw text-cyan"></i>
                                            <a href="/&listview=room&mrid=<% obj[x].mrid %>" tmpui-action="dynamicView.room();"> <% obj[x].dir_name %></a>
                                        </div>
                                        <span class="d-inline d-lg-none" onclick="event.stopPropagation();">
                                            <i class="fa-light fa-folder-open fa-fw text-cyan"></i>
                                            <a href="/&listview=room&mrid=<% obj[x].mrid %>" tmpui-action="dynamicView.room();"> <% obj[x].dir_name %></a>
                                        </span>
                                    <% } %>
                                    <% if(obj[x].model!=99){ %>
                                        <!--[在小屏幕上显示]-->
                                        <span class="d-inline d-lg-none">
                                            <i class="fa-fw fa-light fa-stopwatch"></i> 
                                            <span class="lefttime-remainder" id="wm_<% obj[x].ukey %>" data-tmplink-lefttime="<% obj[x].lefttime %>"></span>
                                        </span>
                                    <% } %>
                                </div>

                            </div>
                        </div>
                        <div class="col-12 col-md-4 col-lg-2 my-1 d-flex align-items-center justify-content-end">
                            <% obj[x].ctime %>
                        </div>
                        <div class="col-12 col-md-12 col-lg-3 my-1 d-flex align-items-center justify-content-end file_ok_<% obj[x].ukey %>">
                            <span class="mr-2"><% obj[x].fsize_formated %></span>
                            <button onclick="event.stopPropagation();TL.download_file_btn('<% obj[x].ukey %>')" class="text-azure btn btn-sm btn-light mx-1 btn_download_<% obj[x].ukey %>"><i class="fa-fw fa-light fa-cloud-arrow-down"></i></button>
                            <button onclick="event.stopPropagation();TL.bulkCopy(this,'<% Base64Encode(`https://${TL.site_domain}/f/${obj[x].ukey}`) %>',true)" class="text-azure  btn btn-sm btn-light mx-1"><i class="fa-fw fa-light fa-share-from-square"></i></button>
                            <span class="dropdown">
                                <button role="button" type="button" class="text-azure btn btn-sm btn-light mx-1" data-toggle="dropdown">
                                    <i class="fa-light fa-ellipsis fa-fw"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right shadow">
                                    <button onclick="TL.file_rename('<% obj[x].ukey %>','<% obj[x].fname_ex %>')" class="dropdown-item">
                                        <i class="fa-fw fa-light fa-pen-to-square"></i>
                                        <span i18n="menu_rename"><% app.languageData.menu_rename %></span>
                                    </button>
                                    <button id="btn-rm-file_<% obj[x].ukey %>" class="dropdown-item" onclick="TL.workspace_del('<% obj[x].ukey %>')">
                                        <i class="fa-fw fa-light fa-trash"></i>
                                        <span i18n="menu_delete"><% app.languageData.menu_delete %></span>
                                    </button>
                                    <% if(TL.direct.is_allow()){ %>
                                        <button onclick="TL.direct.addLink('<% obj[x].ukey %>','<% encodeURIComponent(obj[x].fname) %>')" class="dropdown-item">
                                            <i class="fa-fw fa-light fa-share-nodes"></i>
                                            <span i18n="menu_addlink"><% app.languageData.menu_addlink %></span>
                                        </button>
                                    <% } %>  
                                </div>
                            </span>
                        </div>
                        <div class="col-12 col-md-12 col-lg-3 mt-2 d-flex flex-row align-items-center justify-content-center file_relay_<% obj[x].ukey %>">
                            <div class="d-block w-100">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="83" aria-valuemin="0" aria-valuemax="100" style="width:100%;">
                                        <% app.languageData.upload_sync_onprogress %>:<% obj[x].fsize_formated %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-2 download_progress_bar_<% obj[x].ukey %> mb-1" style="display:none">
                            <div class="progress" style="height: 5px;">
                                <div class="progress-bar bg-success download_progress_bar_set_<% obj[x].ukey %>" role="progressbar" style="width: 0%;" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                <% } %>
            </script>
    </div>
</div>