/* 深色模式 */
@media (prefers-color-scheme: dark) {
    html {
        filter: invert(1) hue-rotate(.5turn);
    }

    img {
        filter: invert(1) hue-rotate(.5turn);
    }

    #background_wrap{
        background-image: linear-gradient(209deg, #ffffff 0%, #9bf0ff 100%) !important;
    }

    #head_logo{
        color: rgb(14, 14, 14) !important;
        border-color: rgb(14, 14, 14) !important;
    }

    #bg_video, #background_wrap_video, #background_wrap_img{
        filter: invert(1) hue-rotate(.5turn);
    }

    /* 页脚内容不参与 */
    #footer{
        filter: invert(1) hue-rotate(.5turn);
    }
}