/* 深色模式 */
@media (prefers-color-scheme: dark) {
    html, img {
        filter: invert(1) hue-rotate(.5turn);
        opacity: 0.9;
    }

    #background_wrap{
        background-image: linear-gradient(209deg, #ffffff 0%, #9bf0ff 100%) !important;
    }

    #head_logo{
        color: rgb(14, 14, 14) !important;
        border-color: rgb(14, 14, 14) !important;
    }
}