/* html,
body {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
    line-height: 150%;
    height: 100%;
} */

/* Hide all possibilities in advance */
.firefox, .msie, .safari, .chrome, .win, .mac { display:none; }

/* Detect Internet Explorer 9 or Greater */
@media screen and (min-width:0\0) and (min-resolution: +72dpi) { .msie, .win { display:block; } }

/* Detect Internet Explorer 8 or Lower and veru old versions of Firefox */
@media \0screen\,screen\9 { .msie, .win { display:block; } }

/* Detect any version of Firefox */
_:-moz-tree-row(hover), .firefox { display:block; }

/* Rule out any straggling Internet Explorer References */
_:-moz-tree-row(hover), .msie, .win { display:none; }

/* Detect Windows Firefox 4 or newer */
@media screen and (-moz-windows-theme) { .win, .firefox { display:block; } }

/* Detect Windows Firefox 25 or newer */
@media screen and (-moz-os-version) { .win, .firefox { display:block; } }

/* Detect Mac Firefox 25 or newer */
@supports (-moz-osx-font-smoothing:auto) { .mac, .firefox { display:block; } }

/* Detect Chrome 22+ (and Safari 6.1+) */
@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm), screen and(-webkit-min-device-pixel-ratio:0) {
  .chrome { display:block; }
}

/* Detect Chrome 28+ */
@media screen and (-webkit-min-device-pixel-ratio:0) { @supports (background-attachment:local) {
  .chrome { display:block; }
}
    
/* Detect Mac Safari 6.1 or newer, hide any straggling Chrome references */
@media screen and (-webkit-max-device-pixel-ratio:1) and (min-color-index:0) {
    .mac, .safari {(; display:block; );} 
    .chrome {(; display:none; );} 
}

/* For PowerPC People who have Internet Explorer for Mac... */  
  
/*\*//*/ .mac, .msie { display:block; } /**/
/*\*//*/ .win { display:none; } /**/

.glass {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background-clip: padding-box;
}

#container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    position: relative;
}

#tmpui_body {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    position: relative;
}

#index-box {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.btn-point {
    cursor: pointer;
}

.loading-box {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading {
    border-radius: 20px;
    border-width: 1px;
    text-align: center;
    height: 60px;
    width: 60px;
    background-color: rgba(255, 255, 255, 1);
    /*文本水平居中*/
}

/* footer 下的文字全部设置成白色，包括链接 */

#footer {
    text-align: left;
    padding: 10px;
    bottom: 0;
    width: 100%;
    height: 100px;
    clear: both;
    color: #ffffff;
}

#footer a {
    color: #ffffff;
}

.content-box {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.card-pointer {
    cursor: pointer;
}

.max-width-60 {
    max-width: 60%;
}

.max-width-70 {
    max-width: 70%;
}

.max-width-80 {
    max-width: 80%;
}

.max-width-90 {
    max-width: 90%;
}

.btn-xs {
    padding: .25rem;
    font-size: .275rem;
    line-height: 0.5rem;
    border-radius: .5rem;
}

.hideOnLoad {
    display: none;
}

.fileicon {
    border-radius: 6px;
    border-width: 1px;
    padding-top: 5px;
    max-width: 60px;
    height: 60px;
    color: white;
    overflow-x: auto;
    overflow-y: hidden;
}

.fileicon-sub {
    padding-top: 6px;
    padding-bottom: 5px;
}

.mricon {
    border-radius: 6px;
    border-width: 1px;
    width: 60px;
    height: 60px;
    color: white;
    overflow-x: auto;
    overflow-y: hidden;
}

.imgicon {
    border-radius: 6px;
    border-width: 1px;
    max-width: 60px;
    height: 60px;
    color: white;
    overflow-x: auto;
    overflow-y: hidden;
}

.filename {
    word-break: break-all;
}

.circle {
    display: inline-block;
    box-sizing: content-box;
    width: 30px;
    height: 30px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

.xtable-item {
    display: inline;
}

.ext-img {
    height: 180px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
}

.listfontweight {
    font-size: 16px;
}

.filelist-card {
    border-radius: 3px;
    border-width: 1px;
}

.img-rounded {
    border-radius: 20px;
    border-width: 1px;
}

.dir-icon:hover {
    /* border-radius: 5px; */
    border-width: 1px;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    background-color: beige;
}

.dir-icon a {
    text-decoration: none;
}

@media (any-hover: none) {
    .dir-toolbar {
        opacity: 1;
    }
}

@media (any-hover: hover) {
    .dir-toolbar {
        opacity: 0;
    }
    .dir-toolbar:hover {
        opacity: 1;
    }
}

.select-box {
    border: 1px solid rgb(81 135 216 / 47%);
    position: relative;
    margin-bottom: 0.5rem;
    width: 100%;
    border-radius: 8px;
}

.select-box:hover {
    background-color: azure;
}

.select-box-all {
    border: 1px solid rgb(162 162 162 / 22%);
    position: relative;
    margin-bottom: 0.5rem;
    width: 100%;
    border-radius: 8px;
}

.index-box {
    /* background-color: #ffffff8f; */
    position: relative;
    margin-bottom: 0.5rem;
    width: 100%;
    /* border-radius: 5px; */
}

.list-bar:hover {
    /* border-radius: 5px; */
    border-width: 1px;
    background-color: rgb(220, 236, 245);
}

.media-card {
    border-radius: 8px;
    color: #343a40;
    background-color: #f8f9fa;
}

.line{
    border-bottom: 1px solid #e9ecef;
}

/**
只在移动设备上才生效
*/
@media (max-width: 576px) {
    .xs-card {
        border-radius: 8px;
        border-color: aquamarine;
        border-style: dashed;
        margin-bottom: 5px;
    }

    .xs-card2 {
        border-radius: 8px;
        border-color: #7fcfff;
        border-style: solid;
        margin-bottom: 5px;
    }
}

.filelist_link {
    text-decoration: none;
    color: #212529;
}

.filelist_link:hover {
    text-decoration: none;
    color: #323283;
}

.dynViewDisabled{
    display: none !important;
}

/**
 提醒用小圆点
*/
.point-red {
    position: relative;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #f00;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
}

/* 图片 hover 效果 */
.img-hover :hover {
    background-color: rgb(191 241 235);
}


.upload-box-wrapper {
    max-height: 500px;
    position: relative;
    overflow: hidden;
}

.upload-box-content {
    max-height: 500px;
    overflow-y: auto;
    box-sizing: border-box;
}

/* 隐藏默认滚动条（针对Webkit浏览器，如Chrome和Safari） */
.upload-box-content::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}

.upload-box-content::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

/* 鼠标悬停时显示滚动条 */
.upload-box-content:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
}

/* 针对Firefox */
.upload-box-content {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.upload-box-content:hover {
    scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
}

/* 针对IE和Edge */
.upload-box-content {
    -ms-overflow-style: -ms-autohiding-scrollbar;
}