.glass {
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  background-clip: padding-box;
}

.form-sp {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}

.form-sp .checkbox {
  font-weight: 400;
}

.form-sp .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-sp .form-control:focus {
  z-index: 2;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
}

.form-sp-top {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-sp-mid {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.form-sp-btn {
  margin-bottom: 1px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.form-sp-bottom {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-pointer {
  cursor: pointer;
}