{
    "version": 380,
    "siteroot": "/",
    "loadingIcon": "https://global-tmplink.vx-cdn.com/img/logo.png",
    "Babel" : "https://static.vx-cdn.com/project/ext/babel.min.js",
    "jQuery" : "https://static.vx-cdn.com/project/ext/jquery.min.js",
    "GoogleAnalytics" : "UA-96864664-3",
    "loadingPage": true,
    "loadingProgress": false,
    "loadingAnimationTime": 500,

    "resPath": "https://global-tmplink.vx-cdn.com",
    "resPathPre": "",

    "language": {
        "en": "/json/en.json",
        "cn": "/json/cn.json",
        "jp": "/json/jp.json"
    },
    "404": "404",
    "preload": {
        "init": {
            "/js/clipboard.min.js": { "type": "js", "reload": false },
            "/js/jquery.cookie.js": { "type": "js", "reload": false },
            "/js/tools_file_manager.js": { "type": "js-es6", "reload": false },
            "/js/tmplink.js": { "type": "js-es6", "reload": false },
            "/js/lazyload.js": { "type": "js", "reload": false },
            "/js/sha1.js": { "type": "js", "reload": false },
            "/js/jquery.tooltips.js": { "type": "js", "reload": false },
            "/plugin/bootstrap4/js/bootstrap.bundle.min.js": { "type": "js", "reload": false },
            "/plugin/bootstrap4/css/bootstrap.min.css": { "type": "css", "reload": false },
            "/css/reset.css": { "type": "css", "reload": false },
            "/tpl/include/gtpl.html": { "type": "tpl", "reload": false }
        }
    },
    "append": {
        "tmplink": {
            "/tpl/include/head.html": { "type": "html", "target": { "type": "id", "val": "tpl_header" } },
            "/tpl/include/foot.html": { "type": "html", "target": { "type": "id", "val": "tpl_footer" } },
            "/tpl/include/model.html": { "type": "html", "target": { "type": "id", "val": "tpl_model" } },
            "/js/init.js": { "type": "js" }
        }
    },
    "path": {
        "/": {
            "title": "TMP.link",
            "preload": ["init"],
            "append": ["tmplink"],
            "body": {
                "/css/index.css": { "type": "css" },
                "/tpl/index.html": { "type": "html", "target": { "type": "body" } }
            }
        },
        "/reg": {
            "title": "TMP.link",
            "preload": ["init"],
            "append": ["tmplink"],
            "body": {
                "/css/sp.css": { "type": "css" },
                "/tpl/reg.html": { "type": "html", "target": { "type": "body" } }
            }
        },
        "/login": {
            "title": "TMP.link",
            "preload": ["init"],
            "append": ["tmplink"],
            "body": {
                "/css/sp.css": { "type": "css" },
                "/tpl/login.html": { "type": "html", "target": { "type": "body" } }
            }
        },
        "/reset": {
            "title": "TMP.link",
            "preload": ["init"],
            "append": ["tmplink"],
            "body": {
                "/css/sp.css": { "type": "css" },
                "/tpl/reset.html": { "type": "html", "target": { "type": "body" } }
            }
        },
        "/tos": {
            "title": "服务条款",
            "preload": ["init"],
            "append": ["tmplink"],
            "body": {
                "/css/index.css": { "type": "css" },
                "/tpl/tos.html": { "type": "html", "target": { "type": "body" } }
            }
        },
        "/privacy": {
            "title": "隐私条款",
            "preload": ["init"],
            "append": ["tmplink"],
            "body": {
                "/css/index.css": { "type": "css" },
                "/tpl/privacy.html": { "type": "html", "target": { "type": "body" } }
            }
        },
        "/about": {
            "title": "关于我们",
            "preload": ["init"],
            "append": ["tmplink"],
            "body": {
                "/css/index.css": { "type": "css" },
                "/tpl/about.html": { "type": "html", "target": { "type": "body" } }
            }
        },
        "/workspace": {
            "title": "工作空间",
            "preload": ["init"],
            "append": ["tmplink"],
            "body": {
                "/css/index.css": { "type": "css" },
                "/tpl/workspace.html": { "type": "html", "target": { "type": "body" } }
            }
        },
        "/meetingroom": {
            "title": "会议室",
            "preload": ["init"],
            "append": ["tmplink"],
            "body": {
                "/css/index.css": { "type": "css" },
                "/tpl/meetingroom.html": { "type": "html", "target": { "type": "body" } }
            }
        },
        "/room": {
            "title": "会议室",
            "preload": ["init"],
            "append": ["tmplink"],
            "body": {
                "/css/index.css": { "type": "css" },
                "/tpl/room.html": { "type": "html", "target": { "type": "body" } }
            }
        },
        "/503": {
            "title": "503",
            "preload": ["init"],
            "append": ["tmplink"],
            "body": {
                "/css/sp.css": { "type": "css" },
                "/tpl/503.html": { "type": "html", "target": { "type": "body" } }
            }
        },
        "/file": {
            "title": "下载文件",
            "preload": ["init"],
            "append": ["tmplink"],
            "body": {
                "/css/index.css": { "type": "css" },
                "/tpl/file.html": { "type": "html", "target": { "type": "body" } }
            }
        }
    }
}