<div id="tpl_header"></div>
<div class="container d-flex flex-grow-1 flex-column">
    <div id="filelist" class="card mt-4 shadow" style="display: none;">
        <div class="card-header pt-3">
            <div class="mt-3 text-center mx-auto">
                <i class="fa-4x fa-light fa-share-nodes"></i>
                <div class="lead mt-2">
                    <span class="badge badge-pill badge-info p-2 mx-1 mt-1">
                        <i class="fa-fw fa-solid fa-link"></i>
                        <span id="direct_bind_domain">0</span>
                    </span>
                    <span class="badge badge-pill badge-info p-2 mx-1 mt-1 btn-point"
                        onclick="$('#directSSLModal').modal('show');">
                        <i class="fa-fw fa-solid fa-shield-halved"></i>
                        安全传输: <span id="direct_bind_ssl"></span>
                    </span>
                </div>
                <div class="lead mt-2">
                    <span class="badge badge-pill badge-info p-2 mx-1 mt-1">
                        <i class="fa-fw fa-solid fa-battery-three-quarters"></i>
                        <span i18n="direct_quota">.</span>
                        <span id="direct_quota">0</span>
                    </span>
                    <span class="badge badge-pill badge-info p-2 mx-1 mt-1">
                        <i class="fa-fw fa-solid fa-download"></i>
                        <span i18n="direct_total_downloads">.</span>
                        <span id="direct_total_downloads">0</span>
                    </span>
                    <span class="badge badge-pill badge-info p-2 mx-1 mt-1">
                        <i class="fa-fw fa-solid fa-arrow-up-arrow-down"></i>
                        <span i18n="direct_total_transfer">.</span>
                        <span id="direct_total_transfer">0</span>
                    </span>
                </div>
            </div>
        </div>
        <div id="filelist_model" class="card-body">

            <div class="card shadow-sm p-3">
                <!--[搜索栏]-->
                <form autocomplete="off">
                    <div class="input-group mb-1">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary" type="button" onclick="TL.direct_filelist(0);"
                                i18n="search_btn">.</button>
                        </div>
                        <input type="search" id="direct_search" class="form-control" placeholder="." i18n="search_plh"
                            onkeyup="if(event.keyCode==13)TL.direct.filelist(0);"
                            style="border-top-right-radius: 8px;border-bottom-right-radius: 8px;">
                    </div>
                    <input style="display:none;">
                </form>

                <!--[主要控制器]-->
                <div class="mb-1">
                    <button class="btn btn-light btn-sm text-azure mr-1 mt-1" onclick="TL.direct.filelist(0);">
                        <i class="fa-light fa-rotate fa-fw" id="filelist_refresh_icon"></i>
                    </button>
                    <button class="btn btn-light btn-sm  text-azure mr-1 mt-1" onclick="TL.direct.openDomainEditor();">
                        <i class="fa-fw fa-light fa-signal-stream"></i>
                        <span i18n="direct_btn_bind_domain" class="d-none d-sm-inline">.</span>
                    </button>
                    <button class="btn btn-light btn-sm  text-azure mr-1 mt-1" onclick="TL.buy_select_open('direct');">
                        <i class="fa-fw fa-light fa-battery-bolt"></i>
                        <span i18n="direct_btn_buy_quota" class="d-none d-sm-inline">.</span>
                    </button>
                    <button class="btn btn-light btn-sm  text-azure mr-1 mt-1"
                        onclick="TL.direct.getFreeQuotaOfSponsor();">
                        <i class="fa-fw fa-light fa-battery-bolt"></i>
                        <span i18n="direct_btn_free_quota" class="d-none d-sm-inline">.</span>
                    </button>
                    <!-- <button class="btn btn-light btn-sm  text-azure mr-1 mt-1"
                        onclick="$('#directIntroModal').modal('show');">
                        <i class="fa-fw fa-light fa-book-open"></i>
                        <span i18n="direct_btn_intro" class="d-none d-sm-inline">.</span>
                    </button> -->
                    <button class="btn btn-light btn-sm  text-azure mr-1 mt-1" onclick="TL.direct.sortModal();"
                        id="filelist_filter">
                        <i class="fa-fw fa-light fa-list"></i>
                        <span i18n="sort_title" class="d-none d-sm-inline">.</span>
                    </button>
                </div>

                <!--[选择器]-->
                <div>
                    <button onclick="TL.Selecter.setAll();" class="btn btn-light text-azure btn-sm mr-1 mt-1">
                        <i class="fa-solid fa-square-check fa-fw"></i>
                        <span class="d-none d-sm-inline" i18n="on_select_all">.</span>
                    </button>
                    <button onclick="TL.Selecter.setNone();" class="btn btn-light text-azure btn-sm mr-1 mt-1">
                        <i class="fa-light fa-square-check fa-fw"></i>
                        <span class="d-none d-sm-inline" i18n="on_select_cancel">.</span>
                    </button>
                    <div class="dropdown">
                        <button class="btn btn-light text-azure dropdown-toggle btn-sm mt-1" type="button"
                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa-light fa-list-check fa-fw"></i> <span i18n="on_select">.</span>
                        </button>
                        <div class="dropdown-menu shadow" aria-labelledby="dropdownMenuButton">

                            <button class="dropdown-item" onclick="TL.Selecter.directCopy('downloadURLForText')">
                                <i class="fa-fw fa-light fa-download text-azure"></i>
                                <span i18n="on_select_copy_direct_url_text">.</span>
                            </button>
                            <button class="dropdown-item" onclick="TL.Selecter.directCopy('downloadURLForHTML')">
                                <i class="fa-fw fa-light fa-download text-azure"></i>
                                <span i18n="on_select_copy_direct_url_html">.</span>
                            </button>
                            <button class="dropdown-item" onclick="TL.Selecter.directCopy('resURLForText')">
                                <i class="fa-fw fa-light fa-link-horizontal text-azure"></i>
                                <span i18n="on_select_copy_res_url_text">.</span>
                            </button>
                            <button class="dropdown-item" onclick="TL.Selecter.directCopy('resURLForHTML')">
                                <i class="fa-fw fa-light fa-link-horizontal text-azure"></i>
                                <span i18n="on_select_copy_res_url_html">.</span>
                            </button>
                            <button class="dropdown-item" onclick="TL.Selecter.directCopy('streamURLForText')">
                                <i class="fa-fw fa-light fa-play-circle text-azure"></i>
                                <span i18n="on_select_copy_stream_url_text">.</span>
                            </button>
                            <button class="dropdown-item" onclick="TL.Selecter.directCopy('streamURLForHTML')">
                                <i class="fa-fw fa-light fa-play-circle text-azure"></i>
                                <span i18n="on_select_copy_stream_url_html">.</span>
                            </button>
                            <button class="dropdown-item" onclick="TL.Selecter.directDelete()">
                                <i class="fa-fw fa-light fa-trash text-red"></i>
                                <span i18n="on_select_delete">.</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="direct_filelist"></div>

            <div class="no_photos" style="margin-top: 20px;margin-bottom: 100px;display: none;">
                <div class="text-center mb-4">
                    <i class="fa-fw fa-4x fa-light fa-camera"></i>
                </div>
                <div class="text-center" i18n="page_no_photos">.</div>
            </div>
            <div class="no_files" style="margin-top: 100px;margin-bottom: 100px;display: none;">
                <div class="text-center mb-4">
                    <i class="fa-fw fa-light fa-folder-open fa-4x"></i>
                </div>
                <!-- <div class="text-center" i18n="page_no_files">.</div> -->
            </div>
            <div class="no_direct_domains mx-auto"
                style="margin-top: 100px;margin-bottom: 100px;display: none;max-width: 620px;">
                <div class="text-center">
                    <h3 i18n="direct_intro_welcome">.</h3>
                </div>
                <div>
                    <p i18n="direct_intro_1">.</p>
                    <ul>
                        <li i18n="direct_intro_2">.</li>
                        <li i18n="direct_intro_3">.</li>
                        <li i18n="direct_intro_4">.</li>
                        <li i18n="direct_intro_5">.</li>
                        <li i18n="direct_intro_6">.</li>
                    </ul>

                    <p i18n="direct_intro_7">.</p>
                    <ul>
                        <li i18n="direct_intro_8">.</li>
                        <li>
                            <span class="btn-point" onclick="TL.direct.openDomainEditor()">
                                <span i18n="direct_btn_bind_domain">.</span>。
                            </span>
                        </li>
                    </ul>
                    <p i18n="direct_intro_9">.</p>
                </div>
            </div>

            <script type="text/template" id="direct_filelist_list_tpl">
                <% for (var x in obj) { %>
                    <div class="row mx-0 mb-1 p-1 line list-bar file_unit_<% obj[x].direct_key %>" name="items_box" tldata="<% obj[x].direct_key %>" tltitle="<% obj[x].fname %>" onclick="TL.Selecter.onclickByList(this);">
                        <div class="col-12 col-md-8 col-lg-7 d-flex align-items-center listfontweight filename">
                            <div class="row">
                                <div class="col-12 filename">
                                    <i class="<% TL.fileicon(obj[x].ftype) %> fa-fw text-azure"></i>
                                    <a href="<% obj[x].direct_link %>" class="filelist_link" target="_blank" onclick="event.stopPropagation();">
                                        <% obj[x].fname %>
                                    </a>
                                    
                                    <% if(TL.direct.is_allow_play(obj[x].fname)){ %>
                                        <a href="<% obj[x].play_link %>" target="_blank" onclick="event.stopPropagation();">
                                            <i class="fa-solid fa-circle-play fa-fw"></i>
                                        </a>
                                    <% } %>

                                    <% if(obj[x].model!=99){ %>
                                        <!--[在大屏幕上显示]-->
                                        <span class="d-none d-lg-inline">
                                            <i class="fa-fw fa-light fa-stopwatch"></i> 
                                            <span class="lefttime-remainder" id="wd_<% obj[x].direct_key %>" data-tmplink-lefttime="<% obj[x].lefttime %>"></span>
                                        </span>
                                    <% } %>

                                    <% if(obj[x].like>0){ %>
                                        <span class="badge badge-pill badge-primary">
                                            <i class="fa-fw fa-solid fa-circle-star text-yellow"></i>
                                            <% obj[x].like %>
                                        </span>
                                    <% } %>

                                    <% if(obj[x].dir_name!=null){ %>
                                        <div class="d-none d-lg-block" onclick="event.stopPropagation();">
                                            <i class="fa-light fa-folder-open fa-fw text-cyan"></i>
                                            <a href="/room&mrid=<% obj[x].mrid %>" tmpui-app="true"> <% obj[x].dir_name %></a>
                                        </div>
                                        <span class="d-inline d-lg-none" onclick="event.stopPropagation();">
                                            <i class="fa-light fa-folder-open fa-fw text-cyan"></i>
                                            <a href="/room&mrid=<% obj[x].mrid %>" tmpui-app="true"> <% obj[x].dir_name %></a>
                                        </span>
                                    <% } %>

                                    <% if(obj[x].model!=99){ %>
                                        <!--[在小屏幕上显示]-->
                                        <span class="d-inline d-lg-none">
                                            <i class="fa-fw fa-light fa-stopwatch"></i> 
                                            <span class="lefttime-remainder" id="wm_<% obj[x].direct_key %>" data-tmplink-lefttime="<% obj[x].lefttime %>"></span>
                                        </span>
                                    <% } %>
                                </div>

                            </div>
                        </div>
                        <div class="col-12 col-md-4 col-lg-2 my-1 d-flex align-items-center justify-content-end">
                            <% obj[x].ctime %>
                        </div>
                        <div class="col-12 col-md-12 col-lg-3 my-1 d-flex align-items-center justify-content-end file_ok_<% obj[x].direct_key %>" onclick="event.stopPropagation();">
                            <span class="mr-2"><% obj[x].fsize_formated %></span>
                            <a href="<% obj[x].direct_link %>" target="_blank" class="text-azure btn btn-sm btn-light mx-1"><i class="fa-fw fa-light fa-cloud-arrow-down"></i></a>
                            <button onclick="TL.bulkCopy(this,'<% Base64Encode(`${obj[x].direct_link}`) %>',true)" class="text-azure btn btn-sm btn-light mx-1"><i class="fa-fw fa-light fa-share-from-square"></i></button>
                            <button id="btn-rm-file_<% obj[x].direct_key %>" class="btn btn-sm btn-light mx-1" onclick="TL.direct.delLink('<% obj[x].direct_key %>')">
                                <i class="fa-fw fa-light fa-trash text-danger"></i>
                            </button>
                        </div>
                    </div>
                <% } %>
            </script>
        </div>
    </div>
</div>

<div class="modal fade" id="directIntroModal" data-backdrop="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content shadow-lg">
            <div class="modal-header">
                <h4 class="modal-title" i18n="direct_intro_modal_title">.</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p i18n="direct_intro_modal_body_1">
                    .
                </p>
                <p>
                <div i18n="direct_intro_modal_body_2">.</div>
                <div i18n="direct_intro_modal_body_3">.</div>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="directEditDomainModal" data-backdrop="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content shadow-lg">
            <div class="modal-header">
                <h4 class="modal-title" i18n="direct_btn_bind_domain">
                    .
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card p-3 shadow-sm">
                    <h4 i18n="direct_modal_bind_domain_1">.</h4>
                    <p i18n="direct_modal_bind_domain_2">.</p>
                </div>
                <div class="card p-3 shadow-sm" id="tmplink_subdomain">
                    <h4 i18n="direct_modal_bind_domain_3">.</h4>
                    <p i18n="direct_modal_bind_domain_4">.</p>
                </div>
                <!--[表单]-->
                <div class="card p-3 shadow-sm">
                    <form id="form-direct-domain">
                        <div class="form-group">
                            <label for="direct-domain" i18n="direct_modal_bind_domain_5">.</label>
                            <input type="text" class="form-control" id="direct-domain" placeholder="."
                                i18n="direct_modal_bind_domain_6" i18n-placeholder="true">
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-primary btn-block"
                                onclick="TL.direct.setDomain()">绑定</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="directSSLModal" data-backdrop="false">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content shadow-lg">
            <div class="modal-header">
                <h4 class="modal-title">
                    增强项：安全传输
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h4>启用 HTTPS 支持</h4>
                <p>设置 SSL 证书以启用 HTTPS 安全传输数据，所有 HTTP 流量也会重定向至 HTTPS。</p>
                <div class="card p-3 mt-3  shadow-sm">
                    <div class="form-group">
                        <label for="set_ssl_cert">域名证书</label>
                        <textarea class="form-control" id="set_ssl_cert" rows="2"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="set_ssl_cert">根证书</label>
                        <textarea class="form-control" id="set_ssl_cert_ca" rows="2"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="set_ssl_cert">中间证书</label>
                        <textarea class="form-control" id="set_ssl_cert_chain" rows="2"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="set_ssl_key">私钥</label>
                        <textarea class="form-control" id="set_ssl_key" rows="2"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <span id="box_post_doing" style="text-align: center;display: none;">
                    <i class="fa fa-spinner-third fa-spin"></i>
                </span>
                <button id="box_post" type="button" onclick="TL.direct.enableSSL()"
                    class="btn btn-primary btn-radius">提交</button>
            </div>
        </div>
    </div>
</div>


<div id="tpl_footer"></div>
<div id="tpl_model"></div>