<div id="tpl_header"></div>
<div class="container">
    <div class="p-3 media-card mt-5">
        <div class="display-4 " i18n="media_title">
            .
        </div>
        <div class="lead  mt-2" i18n="media_leads">
            .
        </div>
    </div>

    <div id="video_preview_online" class="mt-5" style="width: 100%;">
        <video style="border-radius: 10px;width: 100%;" id="video_preview_online_src" type="video/mp4"
            src="/video/demo.mp4" controls autoplay muted loop></video>
    </div>
</div>

<div class="container d-flex flex-grow-1 flex-column">
    <div id="vedio_list" class="row"></div>
</div>

<script type="text/template" id="vedio_list_tpl">
    <% for (var x in obj) { %>
        <div class="mt-4 col-lg-4 col-xl-3 col-md-6 col-12 video_unit_<% obj[x].id %>">
            <div class="media-card text-center" name="items_box" tldata="<% obj[x].id %>" tltitle="<% obj[x].fname %>">
                <div style="height:220px;" onclick="TL.media.video_play('<% obj[x].id %>')" class="btn-point">
                    <div class="video_ok_<% obj[x].id %>">
                        <img class='lazyload' id="video_img_ok_<% obj[x].id %>" src="/img/loading.png" style="height:220px;width:100%;border-top-right-radius:8px;border-top-left-radius:8px;" />
                    </div>
                    <div class="video_processing_<% obj[x].id %>">
                        <img class='processing' src="/img/loading.png" style="height:220px;width:100%;border-top-right-radius:8px;border-top-left-radius:8px;" />
                    </div>
                </div>
                <div class="p-2">
                    <div class="text-right">
                        <div>
                            <span class="video_unit_title_<% obj[x].id %>"><% obj[x].title %></span>
                        </div>
                        <div class="video_ok_<% obj[x].id %>">
                            <span class="mr-1 badge badge-pill badge-info"><% obj[x].duration_text %></span>
                            <span class="mr-1 badge badge-pill badge-info"><% obj[x].width %>x<% obj[x].height %></span>
                            <span class="badge badge-pill badge-danger"><% obj[x].code %></span>
                        </div>
                        
                        <div class="mt-2 video_ok_<% obj[x].id %>">
                            <button onclick="TL.media.video_play('<% obj[x].id %>')" class="text-azure btn btn-sm btn-light mr-1"><i class="fa-fw fad fa-play-circle"></i></button>
                            <button onclick="TL.media.video_rename('<% obj[x].id %>','<% obj[x].title %>')" class="text-azure btn btn-sm btn-light mr-1"><i class="fa-fw fad fa-edit"></i></button>
                            <button onclick="TL.media.video_del('<% obj[x].id %>')" class="text-red btn btn-sm btn-light" ><i class="fa-fw fad fa-trash"></i></button>
                        </div>
                        
                        <div class="progress mt-1 video_processing_<% obj[x].id %>">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    <% } %>
</script>

<div id="tpl_footer"></div>
<div id="tpl_model"></div>